<script>
function PickDateCallbackChangeFocus() {
popupAppDateAJPicker('1', 'Application Date', 'cssi_applicationdate');
document.getElementById('submit_button').focus();
}
</script>
<div data-role="page" data-theme="b" id="appdetail_add_page">
	<%= offline_bar%>
	<form method="post" id="appdetail" action="<%= url_for(:action => :create, :query => {:opportunity => @opportunity.object, :origin => @params['origin']})%>" name="app_details_create">
		<div data-role="header" data-backbtn="false" data-theme="b">
			<a href="<%= url_for(:controller => :Opportunity, :action => :won, :id => @opportunity.object, :query =>{:opportunity => @opportunity.object, :origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>			
			<h1>Add App Details <%= sync_spinner %></h1>
			<input type="submit" href="#" data-theme="b" data-direction="reverse" value="Done" class="ui-btn-right"/>
		</div>
		<div id="contentDiv" data-role="content">
			<input type="hidden" name="appdetail[opportunity_id]" value="<%= @opportunity.object %>"/>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="cssi_carrierid" class="select">Carrier:<font color="red">&nbsp;&nbsp;*</font></label>
					<div>
						<select id="cssi_carrierid" name="appdetail[cssi_carrierid]" >
							<option value="" selected="true"></option>
								<% StaticEntity.get_carrier_names.each do |carrier_name| %>
									<option value="<%=carrier_name%>">
										<%=carrier_name%>
									</option>
								<% end %>
						</select>
					</div>
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
	        		<label for="cssi_lineofbusinessid" class="select">LOB:<font color="red">&nbsp;&nbsp;*</font></label>
					<div>
						<select id="cssi_lineofbusinessid" name="appdetail[cssi_lineofbusinessid]">
							<option value="" selected="true"></option>
								<% StaticEntity.get_lob_names.each do |lob_name| %>
									<option value="<%=lob_name%>">
										<%=lob_name%>
									</option>
								<% end %>
						</select>
					</div>
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="appdetail[cssi_applicationssubmitted]" class="fieldLabel">Apps Submitted:<font color="red">&nbsp;&nbsp;*</font></label>
					<input id="appdetail[cssi_applicationssubmitted]" name="appdetail[cssi_applicationssubmitted]" class="required" type="number" maxlength="5" name="appsub" value="1"/>

				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="appdetail[cssi_avforapplicationsubmitted]" class="fieldLabel">Total AV:<font color="red">&nbsp;&nbsp;*</font></label>
					<input id="appdetail[cssi_avforapplicationsubmitted]" name="appdetail[cssi_avforapplicationsubmitted]" class="required" type="number" min="0" name="totalav" />					
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="cssi_applicationdate" class="fieldLabel">Application Date:<font color="red">&nbsp;&nbsp;*</font></label>
					<input id="cssi_applicationdate" type="text" name="cssi_applicationdate" readonly value="<%= to_date(Time.new.to_s) %>" class="required" onClick="PickDateCallbackChangeFocus();"></input>
				</div>
			</div>
			<input id="submit_button" type="submit" id="btnDone" href="#" data-theme="b" data-direction="reverse" value="Done"/>
		</div>
	</form>
</div>