<%  search_criteria = ''
    if search
      search_criteria = search.gsub("(","\\(")
      search_criteria.gsub!(")","\\)")
    end
items.each do |group|
    id_str = group[0]
    id_str = 'comma' if id_str == ','
    if last_group[:group] != id_str
        last_group[:group] = id_str %>
<div class="ui-li ui-li-divider bar-b"><%= id_str.upcase %></div>
<%  end
    group[1].each do |contact| %>
<div class="ui-li ui-btn-icon-right ui-li-has-arrow btn-up-c">
  <div class="ui-btn-inner ui-li">
    <div class="ui-btn-text">
      <a class="ui-link-inherit btn" href="<%= url_for(:action => :show, :id => contact.object, :query => {:origin => 'contact'}) %>">
        <h3 class="ui-li-heading"><%= contact.last_first %></h3>
<%      if !search_criteria.blank? && contact.emailaddress1 && contact.emailaddress1.downcase.match(search_criteria.downcase) %>
          <p class="ui-li-desc"><%= contact.emailaddress1 %></p>
<%      end
        if !search_criteria.blank? && contact.mobilephone && contact.mobilephone.match(search_criteria) %>
          <p class="ui-li-desc">M:&nbsp;<%= contact.mobilephone %></p>
<%      end
        if !search_criteria.blank? && contact.telephone2 && contact.telephone2.match(search_criteria) %>
          <p class="ui-li-desc">H:&nbsp;<%= contact.telephone2 %></p>
<%      end
        if !search_criteria.blank? && contact.telephone1 && contact.telephone1.match(search_criteria) %>
          <p class="ui-li-desc">B:&nbsp;<%= contact.telephone1 %></p>
<%      end
        if !search_criteria.blank? && contact.telephone3 && contact.telephone3.match(search_criteria) %>
          <p class="ui-li-desc">A:&nbsp;<%= contact.telephone3 %></p>
<%      end %>
      </a>
    </div>
    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
  </div>
</div>
<%  end
end %>
