
<% @grouped_contacts.each do |group| %>
  <li id="<%= group[0] %>-group-divider" data-role="list-divider" role="heading" tabindex="0" class="group-divider ui-li ui-li-divider ui-btn ui-bar-b ui-btn-up-undefined"><%= group[0].upcase %></li>
  <% group[1].each do |contact| %>
    <li role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c">
      <div class="ui-btn-inner" onclick="window.open('<%= url_for(:action => :show, :id => contact.object, :query => {:origin => 'contact'}) %>')">
        <div class="ui-btn-text">
          <h3 class="ui-li-heading"><a href="<%= url_for :action => :show, :id => contact.object, :query => {:origin => 'contact'} %>" class="ui-link-inherit"><%= contact.last_first %></a></h3>			
        </div>
        <span class="ui-icon ui-icon-arrow-r"></span>
      </div>
    </li>
  <% end %>
<% end %> 