<div data-role="page" data-theme="b" id="contact_new_page">
  <form method="POST" id="contact_new" action="<%= url_for :action => :create %>">
	<input type="hidden" name="origin" value="<%=@params['origin']%>">
	<%= offline_bar%>
	<div data-role="header" data-backbtn="false" data-theme="b"<%= ' data-position="fixed"' if !((System.get_property('platform') == 'ANDROID' && System::get_property('os_version').split('.')[0].to_i < 3) || (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)) %>>
		<%= cancelbutton_by_origin(@params['origin']) %>
		<h1>Add Contact/Opp <%= sync_spinner %></h1>		
		<input type="submit" class="ui-btn-right" value="Done" /> 
	</div>
	<div data-role="content" data-theme="b">
		
		<div align="center">
			<label class="fieldLabel"><b>Add Contact</b></label>
		</div>
		
		<div>
			<br />
			<b>General Information</b>
      <div data-role="fieldcontain">
	        		<label for="contact[firstname]" class="fieldLabel">First Name:<font color="red">&nbsp;&nbsp;*</font></label>
	        		<input id="contact[firstname]" maxlength="50" type="text" name="contact[firstname]" data-theme="d" <%= placeholder( "First Name" ) %> />
			</div>
			<div data-role="fieldcontain">
        		<label for="contact[lastname]" class="fieldLabel">Last Name:<font color="red">&nbsp;&nbsp;*</font></label>
        		<input id="contact[lastname]" maxlength="50" type="text" name="contact[lastname]" data-theme="d" <%= placeholder( "Last Name" ) %> />
			</div>
			<div data-role="fieldcontain">
        		<label for="contact[emailaddress1]" class="fieldLabel">Email Address:<font color="blue">&nbsp;&nbsp;+</font></label>
        		<input type="email" maxlength="255" id="contact[emailaddress1]" class="required_group" name="contact[emailaddress1]" data-theme="d" <%= placeholder( "Email Address" ) %> />
			</div>		
			<div data-role="fieldcontain">
            	<label for="contact[mobilephone]" class="fieldLabel">Mobile Phone:<font color="blue">&nbsp;&nbsp;+</font></label>
				<input type="tel" class="required_group" id="contact[mobilephone]" name="contact[mobilephone]" data-theme="d" value="<%= @contact.mobilephone %>" <%= placeholder( "Mobile Phone" ) %>>
			</div>
			<div data-role="fieldcontain">
	           	<label for="contact[telephone1]" class="fieldLabel">Business Phone:<font color="blue">&nbsp;&nbsp;+</font></label>
				<input type="tel" class="required_group" id="contact[telephone1]" name="contact[telephone1]" data-theme="d" value="<%= @contact.telephone1 %>" <%= placeholder( "Business Phone" ) %>>
			</div>
			<div data-role="fieldcontain">
	           	<label for="contact[telephone2]" class="fieldLabel">Home Phone:<font color="blue">&nbsp;&nbsp;+</font></label>
				<input type="tel" class="required_group" id="contact[telephone2]" name="contact[telephone2]"  data-theme="d" value="<%= @contact.telephone2 %>" <%= placeholder( "Home Phone" ) %>>
			</div>
			<div data-role="fieldcontain">
            	<label for="contact[telephone3]" class="fieldLabel">Alternative Phone:<font color="blue">&nbsp;&nbsp;+</font></label>
				<input type="tel" id="contact[telephone3]" class="required_group" name="contact[telephone3]"  data-theme="d" value="<%= @contact.telephone3 %>" <%= placeholder( "Alternate Phone" ) %>>
			</div>

			<div data-role="fieldcontain">
            	<label for="contact_preferredphone" class="select">Preferred Phone:</label>		
				<select id="contact_preferredphone" name="contact[cssi_preferredphone]"  data-theme="d"  <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
					<option value="" selected="true"></option>
					<option value="Business">Business</option>
					<option value="Mobile">Mobile</option>
					<option value="Home">Home</option>
					<option value="Alternate">Alternate</option>
				</select>
			</div>				

			<div data-role="fieldcontain">
            	<label for="contact_gendercode" class="select">Gender:</label>
				<select id="contact_gendercode" name="contact[gendercode]"  data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
					<option value="" selected="true"></option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>				

			<div data-role="fieldcontain">
	           	<label id="contact_birthdate_label" for="contact[birthdate]" class="fieldLabel">Date of Birth:</label>
				<input id="contact[birthdate]" type="text" name="contact[birthdate]" data-theme="d" readonly value="<%= $choosed['0'] %>"  onClick="popupBirthDateAJPicker('1', 'Contact Birth Date', 'contact[birthdate]');  document.getElementById('contact[birthdate]').blur();">
	    	</div>			
		</div>

		<div id="opp_details" data-role="collapsible" data-collapsed="false" >
			<h3>Opportunity Details</h3>
			<div data-role="fieldcontain">
        		<label for="opportunity_lineofbusiness" class="select">LOB:</label>
					<select id="opportunity_lineofbusiness" name="opportunity[cssi_lineofbusiness]"  data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
						<option value="" selected="true"></option>
							<% StaticEntity.get_rawlead_lob_names.each do |lob_name| %>
								<option value="<%=lob_name%>">
									<%=lob_name%>
								</option>
							<% end %> 
					</select>			
			</div>		
			<div data-role="fieldcontain">
        		<label for="opportunity_inputsource" class="select">Source:</label>
					<select id="opportunity_inputsource" name="opportunity[cssi_leadsourceid]"  data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
						<option value="" selected="true"></option>
							<% StaticEntity.get_lead_source_names.each do |lead_source_name| %>
								<option value="<%=lead_source_name%>">
									<%=lead_source_name%>
								</option>
							<% end %>					
			  		</select>
			</div>
		</div>

		
		<div data-role="collapsible" data-collapsed="true" >
			<h3>Home Address</h3>					
			<div data-role="fieldcontain">
				<label for="contact[address1_line1]" class="fieldLabel">Address Line 1:</label>
				<input maxlength="200" type="text" id="contact[address1_line1]" name="contact[address1_line1]"  data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[address1_line2]" class="fieldLabel">Address Line 2:</label>
				<input maxlength="255" type="text" id="contact[address1_line2]" name="contact[address1_line2]"  data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[address1_city]" class="fieldLabel">City:</label>
				<input maxlength="50" type="text" id="contact[address1_city]" name="contact[address1_city]"  data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_state1id]" class="select">State:</label>
				<select name="contact[cssi_state1id]"  id="contact[cssi_state1id]"  data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
					<option data-placeholder="true">
						<%= @contact.cssi_state1id %>
					</option>
					<% Constants::STATE_CODES.each do |state_code| %>
						<option value="<%=state_code[0]%>">
							<%=state_code[1]%>
						</option>
					<% end %>
				</select>				
			</div>
			<div data-role="fieldcontain">
				<label for="contact[address1_postalcode]" class="fieldLabel">Zip:</label>
				<input maxlength="10" type="text" pattern="\d*" id="contact[address1_postalcode]" name="contact[address1_postalcode]" data-theme="d" value="" />
			</div>						
		</div>


		<div data-role="collapsible" data-collapsed="true" >
			<h3>Business Address</h3>	
			<div data-role="fieldcontain">
				<label for="contact[address2_line1]" class="fieldLabel">Address Line 1:</label>
				<input maxlength="200" type="text" id="contact[address2_line1]" name="contact[address2_line1]"  data-theme="d" value="" />
			</div>	
			<div data-role="fieldcontain">
				<label for="contact[address2_line2]" class="fieldLabel">Address Line 2:</label>
				<input maxlength="255" type="text" id="contact[address2_line2]" name="contact[address2_line2]"  data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[address2_city]" class="fieldLabel">City:</label>
				<input maxlength="50" type="text" id="contact[address2_city]" name="contact[address2_city]"  data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_state2id]" class="select">State:</label>
				<select name="contact[cssi_state2id]" id="contact[cssi_state2id]"  data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
					<option data-placeholder="true">
						<%= @contact.cssi_state2id %>
					</option>
					<% Constants::STATE_CODES.each do |state_code| %>
						<option value="<%=state_code[0]%>">
							<%=state_code[1]%>
						</option>
					<% end %>
				</select>			
			</div>
			<div data-role="fieldcontain">
				<label for="contact[address2_postalcode]" class="fieldLabel">Zip:</label>
				<input maxlength="10" type="text" pattern="\d*" id="contact[address2_postalcode]" name="contact[address2_postalcode]"  data-theme="d" value="" />
			</div>		
		</div>			


		<div data-theme="b">
			<input type="submit" data-theme="b" class="standardButton" value="Done"/>
		</div>

	</div>
  </form>
</div>