<div data-role="page" data-theme="b" id="new_contact_task">
	<script type='text/javascript'>	
		function PickTaskChangeFocus() {
			popupDateTimeAJPicker('0', 'Task Due:', 'task_datetime');
			document.getElementById('task_datetime').focus();
		}
	</script>
		<%= offline_bar%>
        <div data-role="header" data-theme="b" data-position="inline">
            <a href="<%= url_for(:action => :show, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" rel="external" data-role="button" data-icon="back">Cancel</a>
            <h1>Create Activity <%= sync_spinner %></h1>
        </div>
        <div id="contentDiv" data-role="content">
			<div style="text-align:center" class="ui-bar"> 
				<h1><%= "#{@contact.full_name}" %></h1>
			</div>
			<form name="new_contact_task_form" id="new_contact_task_form" method="POST" action="<%= url_for :action => :create_new_contact_task, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']} %>">
           		<div data-role="navbar">
	                <ul>
	                    <li><a href="#" class="ui-btn-active" data-theme="d">Task</a></li>
	                    <li><a href="<%= url_for(:action => :new_contact_phonecall, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-theme="d">Phone Call</a></li>
	                    <li><a href="<%= url_for(:action => :new_contact_appointment, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-theme="d">Appointment</a></li>

	                </ul>
	            </div>
	            <!-- /navbar -->
	                <div data-role="fieldcontain">
	                    <label for="task_subject">Subject:<font color="red"> *</font></label>
	                    <input id="task_subject" type="text" name="task_subject" data-theme="d"></input>
	                </div>
	                <div data-role="fieldcontain">
	                    <label for="callback_datetime">Due Date:</label>
	                    <input id="task_datetime" type="text" name="task_datetime" data-theme="d" readonly value="<%= $choosed['0'] %>"  onClick="PickTaskChangeFocus();"></input>
	                </div>
	                <div data-role="fieldcontain">
	                    <label for="textarea"> Description:</label>
	                    <textarea cols="40" rows="4" name="task_description" data-theme="d" id="task_description"></textarea>
	                </div>
	                <div data-role="fieldcontain">
                         <legend>Priority:</legend>
                         <input type="checkbox" name="task_priority_checkbox" data-theme="d" id="task_priority_checkbox" class="custom" />
                         <label for="task_priority_checkbox">
                             <img src="/public/images/red_exclamation.png" style="width: 16px; height: 16px;" />
                             High
                         </label>
					</div>
                    <div data-role="fieldcontain">
                        <input type="submit" class="standardButton" data-theme="b" value="Create Task" />
                    </div>
			</form>
		</div>
</div>

