<div data-role="page" data-theme="b" id="new_contact_appointment">
	<%= offline_bar%>
    <div data-role="header" data-theme="b">
        <a href="<%=url_for(:action => :show, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" rel="external" data-role="button" data-icon="back">Cancel</a>
        <h1>Create Activity <%= sync_spinner %></h1>
    </div>
    <div id="contentDiv" data-role="content">
	    <div style="text-align:center" class="ui-bar">
            <h1><%="#{@contact.full_name}"%></h1>
        </div>
        <form name="new_contact_appointment_form" id="new_contact_appointment_form" method="POST" action="<%=url_for :action => :create_new_appointment, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']}%>">
            <input type="hidden" id="cssi_location" name="cssi_location" />
			<input type="hidden" id="appointment_location" name="appointment_location" />
			<div data-role="navbar">
                <ul>
                    <li><a href="<%=url_for(:action => :new_contact_task, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-theme="d">Task</a></li>
                    <li><a href="<%=url_for(:action => :new_contact_phonecall, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-theme="d">Phone Call</a></li>
                    <li><a href="#" class="ui-btn-active" data-theme="d">Appointment</a></li>
                </ul>
            </div>
            <div data-role="fieldcontain">
                <label for="appointment_subject">Subject:<font color="red"> *</font></label>
                <input id="appointment_subject" type="text" name="appointment_subject" data-theme="d"></input>
            </div>
            <div data-role="fieldcontain">
                <label for="appointment_description">Description:&nbsp;</label>
                <textarea cols="40" rows="4" name="appointment_description" data-theme="d" id="appointment_description"></textarea>
            </div>
            <div data-role="fieldcontain">
                <label for="appointment_datetime">Appointment Date and Time: <font color="red"> *</font></label>
                <input id="appointment_datetime" type="text" name="appointment_datetime" data-theme="d" readonly value="<%=$choosed['0']%>" onClick="PickappointmentChangeFocus();"></input>
            </div>
            <div data-role="fieldcontain">
                <label for="appointment_duration" class="select">Duration:</label>
                <select name="appointment_duration" id="appointment_duration" data-theme="d">
                    <option value="90.0">1.5 Hours</option>
                    <option value="30.0">30 Minutes</option>
                    <option value="60.0">1 Hour</option>
                    <option value="120.0">2 Hours</option>
                    <option value="180.0">3 Hours</option>
                    <option value="240.0">4 Hours</option>
                </select>
            </div>
            <div data-role="fieldcontain">
                <label for="select_location" class="select">Location:</label>
                <select name="select_location" data-theme="d" id="select_location" onchange='updateAddress();'>
                    <% @contact.addresses.each do |type, address| %>
                    <option value="<%=address%>"><%=type%></option>
                    <% end %>
                    <option value=" ">Ad Hoc</option>
                </select>
                <br />
            </div>
            <div data-role="fieldcontain">
                <label for="location">Address: <font color="red"> *</font></label>
                <input id="location" name="location" data-theme="d" type="text"></input>
            </div>
            <input type="submit" onclick="getLocationType(); enableLocation();" data-theme="b" value="Create Appointment" />
        </form>
    </div>
	<script type='text/javascript'>
	
		function PickappointmentChangeFocus() {
       	 	popupDateTimeAJPicker('0', 'Start Time:', 'appointment_datetime');
	        document.getElementById('appointment_datetime').focus();
	    }
		$(document).delegate("#new_contact_appointment", "pageinit", function(){
	    updateAddress();
	});

	</script>
</div>
