<div data-role="page" data-theme="b" id="new_phonecall_contact_page">	
	<%= offline_bar%>
	<div data-role="header" data-theme="b" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @contact.object, :query =>{:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Create Activity <%= sync_spinner %></h1>
	</div>
	<div id="contentDiv" data-role="content" data-theme="b">
		<div style="text-align:center" class="ui-bar"> 
			<h1><%= "#{@contact.full_name}" %><h1>
		</div>
		<div data-role="navbar">
            <ul>
                <li><a href="<%= url_for :action => :new_contact_task, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']} %>" data-theme="d">Task</a></li>
                <li><a href="#" class="ui-btn-active" data-theme="d">Phone Call</a></li>
                <li><a href="<%= url_for :action => :new_contact_appointment, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']} %>" data-theme="d">Appointment</a></li>
            </ul>
        </div>
        
			<form name="contact_phonecall_form" id="contact_phonecall_form" method="POST" action="<%= url_for  :action => :create_contact_phonecall, :id => @contact.object, :query => {:origin => @params['origin'], :opportunity => @params['opportunity']} %>">
                <div data-role="fieldcontain">
                    <label for="phonecall_subject">Subject:<font color="red"> *</font></label>
					<input id="phonecall_subject" type="text" name="phonecall_subject" data-theme="d"></input>
                </div>
				<input type="hidden" id="phone_type_selected" name="phone_type_selected" />
				<div data-role="fieldcontain">
	            	<label for="callback_datetime">Callback Date and Time:<font color="red"> *</font></label>
					<input id="callback_datetime" type="text" class="required" name="callback_datetime" data-theme="d" readonly value="<%= $choosed['0'] %>" onClick="PickDatePhonecallChangeFocus();"></input>
				</div>
				<div data-role="fieldcontain">
				    <label for="phoneList" class="select">Phone Type:</label>            
					<select name="phoneList" id="phoneList" onchange="populatePhone(this.form.phoneList);" data-theme="d">
						<% @contact.phone_numbers.each do |type, number| %>
							<% if @contact.cssi_preferredphone == type %>
								<option selected value="<%= number %>"><%= type %></option>
							<% else %>
								<option value="<%= number %>"><%= type %></option>
							<% end %>
						<% end %>
							<option value=''>Ad Hoc</option>
					</select>
				</div>
				<div data-role="fieldcontain">
					<label for="phoneNumber" class="fieldLabel">Phone Number:<font color="red"> *</font></label>
					<input type="tel" id="phoneNumber" name="phone_number" data-theme="d" onkeypress="if(event.keyCode==13){return false;}"/>
				</div>
				<div data-role="fieldcontain">
					<fieldset data-role="controlgroup">
	                     <legend>Priority:</legend>
	                     <input type="checkbox" name="callback_priority_checkbox" data-theme="d" id="callback_priority_checkbox" class="custom"/>
	                     <label for="callback_priority_checkbox">
	                         <img src="/public/images/red_exclamation.png" style="width: 16px; height: 16px;" />High
	                     </label>
					</fieldset>
                 </div>
				<input type="submit"  onclick="return enablePhoneNumber();" data-theme="b" value="Create Phone Call"/>
			</form>
	</div>
	<script type='text/javascript'>
		$(document).delegate("#new_phonecall_contact_page", "pageinit",function() {
			populatePhone(document.getElementById('phoneList'));
		});

		function PickDatePhonecallChangeFocus() {
			popupDateTimeAJPicker('0', 'Callback Time', 'callback_datetime');
			document.getElementById('callback_datetime').focus();
		}
	</script>
</div>