<div data-role="page" data-theme="b" data-cache="never">
	<div data-role="header" data-backbtn="false">
				<% if @params['opportunity']%>
					<a href="<%=url_for(:controller=>:Opportunity, :action=>:show, :id => @params['opportunity'], :query=>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Opp</a>
				<% else %>
					<a href="<%=url_for(:action => :index)%>" data-direction="reverse" rel="external" data-icon="back">Contacts</a>
				<% end %>
				<h1>Contact Detail</h1>
				<a href="<%=url_for(:action=>:edit, :id => @contact.object, :query => {:opportunity => @params['opportunity'], :origin => @params['origin']})%>" data-direction="forward" data-icon="gear"> Edit </a>
	</div>
			<div data-role="content">
				<ul data-role="listview" data-theme="d" data-inset="true" > 
					<li>
							<h3><%= @contact.full_name %></h3>
							<p><%= @contact.gendercode %>, Age <%= (@contact.age).to_s %> </p>
							<p>DOB: <%= to_date(@contact.birthdate) %></p>
							
					</li> 
					<li data-icon="<%= check_preferred("Mobile", @contact.cssi_preferredphone) %>"><a href="tel: <%= @contact.mobilephone.to_s %>"> Mobile: <%= @contact.mobilephone %></a></li>
					<li data-icon="<%= check_preferred("Business", @contact.cssi_preferredphone) %>"><a href="tel: <%= @contact.telephone1.to_s %>">Bus: <%= @contact.telephone1 %></a>
						<% if (@contact.cssi_businessphoneext != nil || @contact.cssi_businessphoneext == "")%> 
							<!-- <div align="center"><p> -->x<%= @contact.cssi_businessphoneext %><!-- </p></div> -->
						<% end %>
					</li>
					<li data-icon="<%= check_preferred("Home", @contact.cssi_preferredphone) %>"><a href="tel: <%= @contact.telephone2.to_s %>">Home: <%= @contact.telephone2 %></a></li>
					<li data-icon="<%= check_preferred("Alternate", @contact.cssi_preferredphone) %>"><a href="tel: <%= @contact.telephone3.to_s %>">Alternate: <%= @contact.telephone3 %></a></li>
					<% if @contact.emailaddress1 %>
					<li data-icon="false"><a href="mailto:<%= @contact.emailaddress1.to_s %>"><%= "Email: #{@contact.emailaddress1.to_s}" %></a></li>
					<% else %>
					<li data-icon="false"><a href="#">Email:</a></li>
					<% end %>
					<li data-role="list-divider">Home Address</li>
					<li data-icon="false">
						<a rel="external" href="<%= url_for(:action => :map, :query => {:address => @contact.home_map}) %>">
								<%= @contact.address1_line1 %>
								<%= @contact.address1_line2 %><br/>
								<%= @contact.home_city %><br/>
						</a>
					</li>
					<li data-role="list-divider">Business Address</li>
					<li data-icon="false">
						<a href="<%= url_for(:action => :map, :query => {:address => @contact.business_map})%>" onclick="hideSpin()">
							<%= @contact.address2_line1 %>
							<%= @contact.address2_line2 %><br/>
							<%= @contact.business_city %><br/>
						</a>
					</li>
				</ul>
				<% if @params['opportunity'] %>
				 <ul data-role="listview" data-filter="false" data-inset="true">
					<li data-role="list-divider">Opportunities</li>

						<% @contact.opportunities.each do |opportunity| %>
						<li>
							<a href="<%= url_for(:controller => :Opportunity, :action => :show, :id => opportunity.object, :query => {"origin" => "contact"}) %>"> 
								<strong><%= to_date(opportunity.createdon) %></strong> <TEST> <%= opportunity.rollup_status %>
							</a>
						</li>
						<% end %>
				 </ul>
				<% end %>
			</div>
			
</div>