<div data-role="page" data-theme="b" id="spouse_edit_page">
	<%= offline_bar%>
	<form method="post" id="spouse_form" action="<%= url_for(:controller => :Contact, :action => :spouse_update, :query => {:opportunity => @params['opportunity'], :origin => @params['origin']})%>" name="spouse_edit">
		<div data-role="header" data-backbtn="false" data-theme="b">
			<a href="<%=url_for(:controller=>:Contact, :action => :show, :id => @contact.object, :query=> {:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>
			<h1>Edit Spouse <%= sync_spinner %></h1>
			<input type="submit" href="#" data-theme="b" data-direction="reverse" value="Done" class="ui-btn-right"/>
		</div>
		<div id="contentDiv" data-role="content" data-theme="b">
			<input type="hidden" name="id" value="<%= @contact.object %>"/>
			<div data-role="fieldcontain">
				<label for="contact[cssi_spousename]" class="fieldLabel">First Name:<font color="red">  *</font></label>
				<input type="text" maxlength="100" id="contact[cssi_spousename]" name="contact[cssi_spousename]" data-theme="d" value="<%= @contact.cssi_spousename %>" />
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_spouselastname]" class="fieldLabel">Last Name:</label>
				<input type="text" maxlength="100" id="contact[cssi_spouselastname]" name="contact[cssi_spouselastname]" data-theme="d" value="<%= @contact.cssi_spouselastname %>" />
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>Height:</legend>
				<label for="contact[cssi_spouseheightft]">Feet:</label>
				<select name="contact[cssi_spouseheightft]" id="contact[cssi_spouseheightft]" data-theme="d">
					<option value="">Feet</option>
					<% Constants::HEIGHT_FEET.each do |height_feet| %>
						<option <% if @contact.cssi_spouseheightft == height_feet %> selected = "true" <% end %> value="<%=height_feet%>"><%= height_feet %></option>
					<% end %>				
				</select>
				<select name="contact[cssi_spouseheightin]" id="contact[cssi_spouseheightin]" data-theme="d">
					<option value="">Inches</option>
					<% Constants::HEIGHT_INCHES.each do |height_inches| %>
						<option <% if @contact.cssi_spouseheightin == height_inches %> selected = "true" <% end %>value="<%=height_inches%>"><%=height_inches%></option>
					<% end %>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_spouseweight]" class="fieldLabel">Weight (lbs):</label>
				<input type="number" id="contact[cssi_spouseweight]" name="contact[cssi_spouseweight]" data-theme="d" value="<%= @contact.cssi_spouseweight %>" />					
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_spousebirthdate]" class="fieldLabel">Date of Birth:</label>
				<input id="contact[cssi_spousebirthdate]" type="text" name="contact[cssi_spousebirthdate]" data-theme="d" readonly value="<%= to_date(@contact.cssi_spousebirthdate) %>"  onClick="editpopupDateTimeAJPicker('1', 'Spouse Birth Date', 'contact[cssi_spousebirthdate]', '<%= @contact.cssi_spousebirthdate %>'); document.getElementById('submit_button').focus();"></input>
			</div>
			<div data-role="fieldcontain">
				<label for="contact[cssi_spousegender]" class="select">Gender:</label>
				<select name="contact[cssi_spousegender]" id="contact[cssi_spousegender]" data-theme="d">
					<option value=""></option>
					<option value="Male" <% if @contact.cssi_spousegender == "Male" %> selected="selected" <% end %>>Male</option>
					<option value="Female" <% if @contact.cssi_spousegender == "Female" %> selected="selected" <% end %>>Female</option>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="tobaccoSlider" class="fieldLabel">Tobacco:</label>
				<select name="contact[cssi_spouseusetobacco]" id="tobaccoSlider" data-role="slider" data-theme="d">
					<option value="False" <% if @contact.cssi_spouseusetobacco == "False" %> selected="selected" <% end %> >No</option>
					<option value="True" <% if @contact.cssi_spouseusetobacco == "True" %> selected="selected" <% end %> >Yes</option>						
				</select>
			</div>			
			<input id="submit_button" type="submit" href="#" data-theme="b" data-direction="reverse" value="Done"/>
			<a href="<%= url_for(:controller => :Contact, :action => :confirm_spouse_delete, :query => {:id => @contact.object, :opportunity => @params['opportunity'], :origin => @params['origin']})%>" data-theme="a" data-direction="reverse" data-role="button">Delete</a>
		</div>
	</form>
</div>