<div data-role="page" data-theme="b" data-cache="never">
	<%= offline_bar %>
	<div data-role="header">
		<a href="<%=url_for(:action => :show)%>" data-direction="reverse" rel="external" data-icon="back">Contact</a>
		<h1>Spouse Detail</h1>
		<a href="<%=url_for(:action=> :spouse_edit, :id => @contact.object)%>" data-direction="forward" data-icon="edit"> Edit </a>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-filter="false" data-inset="true">
			<li>
				<h3><%= @contact.cssi_spousename %> <%= @contact.cssi_spouselastname %></h3>
				<p><%= @contact.cssi_spousegender %>, Age <%= (@contact.spouse_age).to_s %></p>
				<p>DOB: <%= to_date(@contact.cssi_spousebirthdate) %></p>
			</li>
			<li data-icon="false"><h3>Height: <%= @contact.cssi_spouseheightft %>' <%= @contact.cssi_spouseheightin %>"</h3></li>
			<li data-icon="false"><h3>Weight: <%= @contact.cssi_spouseweight %> lbs</h3></li>
			<li data-icon="false"><h3>Tobacco: <%= @contact.cssi_spouseusetobacco %></h3></li>
		</ul>
	</div>
</div>