<div class="pageTitle">
  <h1>Edit <%= @task.activity_type %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @task.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @task.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @task.object %>"/>
    <ul>
      
          <li>
            <label for="task[activity_type]" class="fieldLabel">Activity type</label>
            <input type="text" name="task[activity_type]" value="<%= @task.activity_type %>" <%= placeholder( "Activity type" ) %> />
          </li>
      
          <li>
            <label for="task[subject]" class="fieldLabel">Subject</label>
            <input type="text" name="task[subject]" value="<%= @task.subject %>" <%= placeholder( "Subject" ) %> />
          </li>
      
          <li>
            <label for="task[follow_up_date]" class="fieldLabel">Follow up date</label>
            <input type="text" name="task[follow_up_date]" value="<%= @task.follow_up_date %>" <%= placeholder( "Follow up date" ) %> />
          </li>
      
          <li>
            <label for="task[start_time]" class="fieldLabel">Start time</label>
            <input type="text" name="task[start_time]" value="<%= @task.start_time %>" <%= placeholder( "Start time" ) %> />
          </li>
      
          <li>
            <label for="task[end_time]" class="fieldLabel">End time</label>
            <input type="text" name="task[end_time]" value="<%= @task.end_time %>" <%= placeholder( "End time" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>