<div id="pageTitle">
		<h1>Edit <%= @task.activity_type%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @task.object %>
    <%= link_to "Delete", :action => :delete, :id => @task.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @task.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Activity type: </td>
              			<td class="itemValue"><input type="text" name="task[activity_type]" value="<%= @task.activity_type %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Subject: </td>
              			<td class="itemValue"><input type="text" name="task[subject]" value="<%= @task.subject %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Follow up date: </td>
              			<td class="itemValue"><input type="text" name="task[follow_up_date]" value="<%= @task.follow_up_date %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Start time: </td>
              			<td class="itemValue"><input type="text" name="task[start_time]" value="<%= @task.start_time %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">End time: </td>
              			<td class="itemValue"><input type="text" name="task[end_time]" value="<%= @task.end_time %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
