<div class="pageTitle">
  <h1>Edit <%= @note.parent_id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @note.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @note.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @note.object %>"/>
    <ul>
      
          <li>
            <label for="note[parent_id]" class="fieldLabel">Parent</label>
            <input type="text" name="note[parent_id]" value="<%= @note.parent_id %>" <%= placeholder( "Parent" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>