<div class="pageTitle">
  <h1>New <%= @note.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @note.object %>"/>
    <ul>
      
          <li>
            <label for="note[parent_id]" class="fieldLabel">Parent</label>
            <input type="text" name="note[parent_id]" <%=
            placeholder("Parent") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>