<!DOCTYPE html>
<html lang="en">
    <head>
        <title>InsiteMobile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href="/public/lib/jquery.mobile.min.css" media="screen" rel="stylesheet" type="text/css"/>
        <link href="/public/lib/jquery.mobile.iscrollview.css" media="screen" rel="stylesheet" type="text/css"/>
        <link href="/public/lib/jquery.mobile.iscrollview-pull.css" media="screen" rel="stylesheet" type="text/css"/>
        <link href="/public/insite/insphere.css" media="screen" rel="stylesheet" type="text/css"/>
        <script src="/public/lib/jquery.min.js" type="text/javascript"></script>
        <script src="/public/lib/jquery.mobile.min.js" type="text/javascript"></script>
        <script src="/public/lib/iscroll.js" type="text/javascript"></script>
        <script src="/public/lib/jquery.mobile.iscrollview.js" type="text/javascript"></script>
        <script src="/public/insite/application.js" type="text/javascript"></script>
        <script src="/public/insite/list.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).delegate("div.scrollable-list-page", "pageinit", function() {
                new ScrollView(this, "<%= @url %>", <%= @pageSize %>);
            });
        </script>
        <script src="/public/insite/<%= @scriptName %>.js" type="text/javascript"></script>
    </head>
    <body <% if @working %>onLoad="showSpin(null)"<% end %>>
        <div class="scrollable-list-page" data-role="page">
            <div data-role="header" data-theme="b">
                <div class="ui-offline-bar<% if DeviceCapabilities.is_connected? %> ui-hidden<% end %>">Connection State: Offline</div>
                <a href="<%= @firstBtnUrl %>" data-icon="<%= @firstBtnIcon %>"><%= @firstBtnText %></a>
                <h1>
                    <%= @page_name %>
                    <img class="<% if not DeviceCapabilities.is_syncing? %>ui-hidden<% end %>" id="syncSpinner" src="/public/images/syncSpinner.gif" width="12" height="12"/>
                </h1>
<% if @secondBtnUrl %>
                <a href="<%= @secondBtnUrl %>" data-icon="<%= @secondBtnIcon %>"><%= @secondBtnText %></a>
<% end %>
                <div class="scrollable-list-filter" data-role="collapsible" data-collapsed="<%= @isCollapsed %>" data-collapsed-icon="search" data-mini="true" data-theme="c" data-content-theme="c">
                    <h3 class="scrollable-list-filter-txt">Filter...</h3>
                    <%= @content %>
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a">
                            <button class="scrollable-list-filter-find" type="submit" data-theme="b">Filter</button>
                        </div>
                        <div class="ui-block-b">
                            <button class="scrollable-list-filter-clear" type="submit" data-theme="b">Clear</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div data-iscroll="" data-role="content">
                <div class="scrollable-listview list-view">
                </div>
                <div class="iscroll-pullup">
                    <span data-iscroll-pulled-text="Load next page..." data-iscroll-loading-text="Loading..." class="iscroll-pull-label">Load next page...</span>
                </div>
            </div>
        </div>
    </body>
</html>
