<!DOCTYPE html>
<html lang="en">
    <head>
        <title>InsiteMobile</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <link href="/public/lib/jquery.mobile.min.css" media="screen" rel="stylesheet" type="text/css"/>
        <link href="/public/insite/insphere.css" media="screen" rel="stylesheet" type="text/css"/>
        <script src="/public/lib/jquery.min.js" type="text/javascript"></script>
        <script src="/public/lib/jquery.mobile.min.js" type="text/javascript"></script>
        <script src="/public/insite/application.js" type="text/javascript"></script>
        <script src="/public/jquerymobile/jquery.validate.js" type="text/javascript"></script>
        <script src="/public/js/validation.js" type="text/javascript"></script>
        <script src="/public/insite/list.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).delegate("div.scrollable-list-page", "pageinit", function() {
                initialize(this, "<%= @params['selected_tab'] %>");
            });
        </script>
        <script src="/public/insite/<%= @scriptName %>.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="scrollable-list-page" data-role="page">
            <div data-role="header" data-theme="b"<%= ' data-position="fixed" data-tap-toggle="false"' if !(System.get_property('platform') == 'ANDROID' && System::get_property('os_version').split('.')[0].to_i < 3) %>>
                <div class="ui-offline-bar<% if DeviceCapabilities.is_connected? %> ui-hidden<% end %>">Connection State: Offline</div>
                <a <%= 'rel="external" ' if @firstBtnExternal %>href="<%= @firstBtnUrl %>" data-icon="<%= @firstBtnIcon %>"<%= ' data-rel="back"' if @firstBtnBack == true %>><%= @firstBtnText %></a>
                <h1>
                    <%= @page_name %>
                    <%= sync_spinner %>
                </h1>
<% if @secondBtnUrl %>
                <a <%= 'rel="external" ' if @secondBtnExternal %>href="<%= @secondBtnUrl %>" data-icon="<%= @secondBtnIcon %>"><%= @secondBtnText %></a>
<% end %>
                <div data-role="navbar">
                    <ul>
                        <li><a id="new-leads-button"<%= ' class="ui-btn-active"' if @params['selected_tab'] == 'new-leads' %>>New Leads</a></li>
                        <li><a id="follow-ups-button"<%= ' class="ui-btn-active"' if @params['selected_tab'] == 'follow-ups' %>>Follow-Up</a></li>
                        <li><a id="appointments-button"<%= ' class="ui-btn-active"' if @params['selected_tab'] == 'appointments' %>>Scheduled</a></li>
                    </ul>
                </div>
                <div class="list-filter" data-role="collapsible" data-collapsed-icon="search" data-mini="true" data-theme="c" data-content-theme="c">
                    <h3 class="list-filter-txt">Filter...</h3>
                    <%= @content %>
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a">
                            <button class="list-filter-find" type="submit" data-theme="b"><%= @filterBtnText %></button>
                        </div>
                        <div class="ui-block-b">
                            <button class="list-filter-clear" type="submit" data-theme="b">Clear</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div data-role="content">
                <div id="list" data-role="jqlistview" data-loadurl="<%= @url %>" data-pagesize="<%= @pageSize %>" data-filterselector=".list-filter" data-autoinitialize="false"></div>
            </div>
        </div>
    </body>
</html>
