<li role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c">
    <div class="ui-li-sidebar-<%=color%> ui-btn-up-c" style="width: 20px;">
        <div class="ui-checkbox" activity-id="<%=id%>">
            <input type="checkbox" class="task-checkbox" style="top: 25px; left: 3px;" <%='checked="checked" disabled="disabled"' if completed%>/>
        </div>
    </div>
    <div onclick="onRowClick(event, 20, '<%=show_detail_url%>')" class="ui-btn-inner" style="padding-top: 6px; padding-bottom: 6px;">
        <div class="ui-btn-text">
            <a href="#" class="no-top-padding ui-link-inherit">
                <h4 style="margin-top: 0px; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <% if show_icon %>
                        <img src="/public/images/red_exclamation.png" class="ui-li-thumb" style="position: relative; top: 2px; width: 16px; height: 16px; margin-right: 5px; margin-left: 0px;"/>
                    <% end %>    
                    <%=top_text%>
                </h4>
                <div class="ui-grid-a ui-li-desc" style="margin-bottom: 0px;">
                    <div class="ui-block-a">
                        <%=bottom_left_text%>
                    </div>
                    <div class="ui-block-b" align="right">
                        <%=bottom_right_text%>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% if href_text %>
        <a href="<%=href_text%>" title="Details" data-theme="c" class="ui-li-link-alt ui-btn ui-btn-up-c">
        <% if show_phone %>
            <img class="opp-icon" src="/public/images/phone_black.png" style="top: 12px;"/>
        <% else %>
            <img class="opp-icon" src="/public/images/map_icon.png" style="top: 12px;"/>
        <% end %>
        </a>
    <% else %>
        <span class="ui-icon ui-icon-arrow-r"></span>
    <% end %>
</li>
