<div data-role="page" data-theme="b" id="callback_edit">
	<script type='text/javascript'>
		$(document).ready(function() {
			populatePhone(document.getElementById('phoneList'));
		});
	</script>
	<form name="call_back_form" id="call_back_form" method="POST" action="<%= url_for :action => :update_callback, :id => @activity.object, :query => {:origin => @params['origin']} %>">
	<%= offline_bar%>
	<div data-role="header" data-theme="b" data-position="inline">
		<a href="<%=url_for(:action=>@cancelAction, :id => @activity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Edit Callback <%= sync_spinner %></h1>
		<input type="submit" data-theme="b" class="ui-btn-right" onclick="return enablePhoneNumber();"  value="Done"/>
	</div>
	<div id="contentDiv" data-role="content" data-theme="b">
		<% if (@activity_title) %>
		<div style="text-align:center" class="ui-bar"> 
	    	<h1><%="#{@activity_title}"%></h1>
		</div>
		<hr/>
		<% end %>

		<input type="hidden" id="phone_type_selected" name="phone_type_selected" />
		<% if (@activity.parent_type != 'Opportunity') %>
		  	  <div data-role="fieldcontain">
	              <label for="phonecall_subject">
	                  Subject:<font color="red"> *</font></label>
	              <input id="phonecall_subject" type="text" name="phonecall_subject" data-theme="d" value="<%= @activity.subject%>"></input>
	          </div>
        <% end %>
		<div data-role="fieldcontain">
           	<label for="callback_datetime">Call Back Date and Time:</label>
			<input id="callback_datetime" type="text" class="required" name="callback_datetime" data-theme="d" readonly value="<%= to_datetime(@activity.scheduledstart) %>"  onClick="editpopupDateTimeAJPicker('0', 'Callback Time', 'callback_datetime', '<%= @activity.scheduledstart %>'); document.getElementById('callback_datetime').focus();"></input>
		</div>
       	<% if (@activity_contact) %>
			<div data-role="fieldcontain">
			    <label for="phonelist" class="select">Phone Type:</label>
				<select name="phoneList" id="phoneList" onchange="populatePhone(this.form.phoneList);" data-theme="d">				 
					<% puts "Selected phone type is:  #{@activity.phone_type}" %>			
					<% @activity_contact.phone_numbers.each do |type, number| %>
						<option <% if @activity.phone_type == type %> selected="True" <% end %> value="<%= number %>"><%= type %></option>
					<% end %>					
					<% if @activity.phone_type == "Ad Hoc" %>
						<option  selected="True" value="<%= @activity.phonenumber %>" >Ad Hoc</option>
					<%else %>	
					 	<option value="" >Ad Hoc</option>
					<% end %> 
				</select>
			</div>
       	<% end %>
		<div data-role="fieldcontain">
			<label for="phoneNumber" class="fieldLabel">Phone Number: <font color="red"> *</font> </label>
			<input  type="tel" id="phoneNumber" name="phone_number" data-theme="d" onkeypress="if(event.keyCode==13){return false;}" value="<%= @activity.phonenumber %>" />
		</div>
		<div data-role="fieldcontain">
				<fieldset data-role="controlgroup">
		             <legend>Priority:</legend>
		             <input type="checkbox" name="callback_priority_checkbox" id="callback_priority_checkbox" data-theme="d" class="custom" <%= @activity.prioritycode == 'High' ? 'checked' : '' %>/>
		             <label for="callback_priority_checkbox">
		                 <img src="/public/images/red_exclamation.png" style="width: 16px; height: 16px;" />
		                 High
		             </label>
				</fieldset>
        </div>
		<input type="submit"  data-theme="b" onclick="return enablePhoneNumber();" value="Done" data-theme="b"/>
	</div>
  </form>

</div>
