<div data-role="page" data-theme="b" id="appointment_edit_page">
	<script type='text/javascript'>
	    updateAddress();
  	</script>
  <form id="appointment_edit_form" name="appointment_edit_form" method="POST" action="<%= url_for :action => :update_appt, :id => @activity.object, :query => {:origin => @params['origin']} %>">
  <%= offline_bar%>
  <div data-role="header" data-theme="b" data-position="inline">
     <a href="<%=url_for(:action=>@cancelAction, :id => @activity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
     <h1>Edit Appt 	<%= sync_spinner %></h1>
     <input type="submit" data-theme="b" class="ui-btn-right"  onclick="getLocationType(); return enableLocation();" value="Done"/>
  </div>
  <div id="contentDiv" data-role="content" data-theme="b">
    <% if (@activity_title) %>
      <div style="text-align:center" class="ui-bar"> 
          <h1><%="#{@activity_title}"%></h1>
      </div>
	  <hr/>
    <% end %>
    <input type="hidden" name="opportunity_id" value="<%=@opportunity.object if @opportunity%>" />
    <input type="hidden" id="cssi_location" name="cssi_location" />
    <input type="hidden" id="appointment_location" name="appointment_location" />
    <% if  @activity.parent_type != 'Opportunity' %>
		<div data-role="fieldcontain">
			<label for="appointment_subject">Subject:<font color="red"> *</font></label>
			<input id="appointment_subject" type="text" name="appointment_subject" data-theme="d"value="<%= @activity.subject %>"></input>
		</div>
    <% end %>
	<div data-role="fieldcontain">
	   <label for="appointment_datetime" class="fieldLabel">Appointment Start:</label>
       <input id="appointment_datetime" type="text" class="required" name="appointment_datetime" data-theme="d" readonly value="<%= to_datetime(@activity.scheduledstart) %>"  onClick="popupTomorrowDateTimeAJPicker('0', 'Appointment Time', 'appointment_datetime'); document.getElementById('appointment_datetime').focus();"></input>
	</div>
    <div data-role="fieldcontain">
        <label for="appointment_duration" class="select">Duration:</label>
        <select name="appointment_duration" id="appointment_duration" data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>								
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 90.0 %> selected == "true" <% end %> value="90.0">1.5 Hours</option>
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 30.0 %> selected == "true" <% end %> value="30.0">30 Minutes</option>
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 60.0 %> selected == "true" <% end %> value="60.0">1 Hour</option>
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 120.0 %> selected == "true" <% end %> value="120.0">2 Hours</option>
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 180.0 %> selected == "true" <% end %> value="180.0">3 Hours</option>
                <option <% if get_duration(@activity.scheduledstart, @activity.scheduledend) == 240.0 %> selected == "true" <% end %> value="240.0">4 Hours</option>
        </select>
    </div>
	<% if (@activity_contact) %>
	     <div data-role="fieldcontain">
             <label for="select_location" class="select">Location:</label>
			 <select name="select_location" id="select_location" onchange='updateAddress();' data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
                <% @activity_contact.addresses.each do |type, address| %>
                   <option <% if @activity.cssi_location == type %> selected = "True" <% end %> value="<%= address %>"><%= type %></option>
                <% end %>
                <% if @activity.cssi_location == "Ad Hoc" %>
                      <option   selected = "True" value="<%= @activity.location %>">Ad Hoc</option>>
                <% else %>
                        <option value="">Ad Hoc</option>
                <% end%>
			 </select>
     	</div>
	<% end %>
 	<div data-role="fieldcontain">
        <label for="location" class="fieldLabel">Address:</label>
		<input maxlength="200" type="text" id="location" name="location"  data-theme="d" value="<%= @activity.location %>" onkeypress="if(event.keyCode==13){return false;}" />
	</div>
	<div data-role="fieldcontain">
	       <label for="notetext">Description:</label>
	       <textarea cols="40" rows="8" name="description" data-theme="d" id="notetext"> <%= "#{@activity.description}" %> </textarea>
	</div>
    <input type="submit" data-theme="b"  onclick="getLocationType(); enableLocation();" value="Done" />   
  </div>
  </form>
</div>
