<script type='text/javascript'>
	$(document).ready(function() {
		populatePhone(document.getElementById('phoneList'));
		disablePhone(document.getElementById('phoneList'), document.getElementById('phoneNumber'));
	});
</script>


<div data-role="page" data-theme="b" id="callback_edit">
	<form name="call_back_form" id="call_back_form" method="POST" action="<%= url_for :action => :update_callback, :id => @activity.object, :query => {:origin => @params['origin']} %>">
	<%= offline_bar%>
	<div data-role="header" data-theme="b" data-position="inline">
		<a href="<%=url_for(:action=>:show_callback, :id => @activity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Edit Callback <%= sync_spinner %></h1>
		<span class="ui-btn-right">
		<input type="submit" data-theme="b" class="standardButton" onclick="getLocationType(); enablePhoneNumber();" value="Done"/>
		</span>
	</div>
	<div style="text-align:center" class="ui-bar ui-bar-c"> 
		<%= "#{@activity.opportunity.contact.full_name} - #{to_date(@activity.opportunity.createdon)}" %>
	</div>
	<div id="contentDiv" data-role="content">
		<div class="ui-body ui-body-d">
				<div data-role="fieldcontain">
					<div data-role="fieldcontain">
		            	<label for="callback_datetime">Call Back Date and Time:</label>
						<input id="callback_datetime" type="text" class="required" name="callback_datetime" readonly value="<%= to_datetime(@activity.scheduledend) %>"  onClick="editpopupDateTimeAJPicker('0', 'Callback Time', 'callback_datetime', '<%= @activity.scheduledend %>'); document.getElementById('callback_datetime').focus();"></input>
					</div>
					<div data-role="fieldcontain">
					    <label for="phonelist">Phone Type:</label>            
						<select name="phoneList" id="phoneList" onchange="populatePhone(this.form.phoneList);enablePhone();" data-role="none" class="ins-drop-down">							
							<% @activity.opportunity.contact.phone_numbers.each do |type, number| %>
									<option <% if @activity.phone_type == type %> selected="True" <% end %> value="<%= number %>"><%= type %></option>
							<% end %>
								<option <% if @activity.phone_type == "Ad-Hoc" %> selected="True" <% end %> value='ad-hoc'>Ad-Hoc</option>
						</select>
					</div>
					<div data-role="fieldcontain">
						<label for="phone_number" class="fieldLabel">Phone Number:</label>
						<% if System::get_property('platform') == 'APPLE' %>
			            	<input onkeyup="javascript:backspacerUP(this,event);" onkeydown="javascript:backspacerDOWN(this,event);" type="tel" id="phoneNumber" name="phone_number" value="<%= @activity.phonenumber %>" /><br />
						<% else %>
							<input maxlength="14" type="tel" id="phoneNumber" name="phone_number" onkeypress="if(event.keyCode==13){return false;}" value="<%= @activity.phonenumber %>" /><br />
						<% end %>
					</div>
					<div data-role="fieldcontain">
						<input type="submit" class="standardButton" data-theme="b" onclick="return enablePhoneNumber();" value="Done"/>
					</div>
				</div>
				<% unless System::get_property('platform') == 'Blackberry'%>
				<%end%>
			</form>
		</div>
	</div>

</div>
