<div data-role="page" data-theme="b" id="new_appointment">
	<script type='text/javascript'>	
		function PickappointmentChangeFocus() {
			popupTomorrowDateTimeAJPicker('0', 'Start Time:', 'appointment_datetime');
			document.getElementById('appointment_datetime').focus();
		}
	</script>
	<%= offline_bar%>
    <div data-role="header" data-theme="b" data-position="inline">
        <a href="<%= url_for(:action => :index)%>" rel="external" data-role="button" data-icon="back">Cancel</a>
        <h1>Create Activity <%= sync_spinner %></h1>
    </div>
    <div id="contentDiv" data-role="content" data-theme="b">
		<form name="new_appointment_form" id="new_appointment_form" method="POST" action="<%= url_for :action => :create_new_appointment %>">
			<div data-role="navbar">
			           <ul>
			               <li><a href="<%= url_for(:action => :new_task)%>"  data-theme="d">Task</a></li>
			               <li><a href="<%= url_for(:action => :new_phonecall)%>" data-theme="d">Phone Call</a></li>
			               <li><a href="<%= url_for(:action => :new_appointment)%>" class="ui-btn-active" data-theme="d">Appointment</a></li>

			           </ul>
			</div>
		         <!-- /navbar -->
			<div data-role="fieldcontain">
				<label for="appointment_subject">Subject:<font color="red"> *</font></label>
				<input id="appointment_subject" type="text" name="appointment_subject" data-theme="d"></input>
			</div>
			<div data-role="fieldcontain">
	            <label for="appointment_description">Description:</label>
	            <textarea cols="40" rows="4" name="appointment_description" data-theme="d" id="appointment_description"></textarea>
			</div>
			<div data-role="fieldcontain">
			    <label for="appointment_datetime">Appointment Date and Time: <font color="red"> *</font></label>
			    <input id="appointment_datetime" type="text" name="appointment_datetime" data-theme="d" readonly value="<%= $choosed['0'] %>"  onClick="PickappointmentChangeFocus();"></input>
			</div>
			<div data-role="fieldcontain">
				<label for="appointment_duration" class="select">Duration:</label>
				<select name="appointment_duration" id="appointment_duration" data-theme="d" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
					<option value="90.0">1.5 Hours</option>
					<option value="30.0">30 Minutes</option>
					<option value="60.0">1 Hour</option>
					<option value="120.0">2 Hours</option>
					<option value="180.0">3 Hours</option>
					<option value="240.0">4 Hours</option>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="appointment_location">Address: <font color="red"> *</font></label>
				<input id="appointment_location" name="appointment_location" data-theme="d" type="text" >
			</div>
            <input type="submit"  value="Create Appointment" data-theme="b" />
		</form>
	</div>
</div>

