<div data-role="page" data-theme="b" id="new_task">
	<script type='text/javascript'>	
		function PickTaskChangeFocus() {
			popupTomorrowDateTimeAJPicker('0', 'Task Due:', 'task_datetime');
			document.getElementById('task_datetime').focus();
		}
	</script>
	<%= offline_bar%>
    <div data-role="header" data-theme="b" data-position="inline">
        <a href="<%= url_for(:action => :index)%>" rel="external" data-role="button" data-icon="back">Cancel</a>
        <h1>Create Activity <%= sync_spinner %></h1>
    </div>
    <div id="contentDiv" data-role="content" data-theme="b">
		<form name="new_task_form" id="new_task_form" method="POST" action="<%= url_for :action => :create_new_full_task %>">
          	<div data-role="navbar" data-theme="d">
                <ul>
                    <li><a href="<%= url_for(:action => :new_task)%>" class="ui-btn-active" data-theme="d">Task</a></li>
                    <li><a href="<%= url_for(:action => :new_phonecall)%>" data-theme="d">Phone Call</a></li>
                    <li><a href="<%= url_for(:action => :new_appointment)%>" data-theme="d">Appointment</a></li>
                </ul>
            </div>
               <div data-role="fieldcontain">
                   <label for="task_subject">Subject:<font color="red"> *</font></label>
                   <input id="task_subject" type="text" name="task_subject" data-theme="d"></input>
               </div>
               <div data-role="fieldcontain">
                   <label for="task_datetime">Due Date:</label>
                   <input id="task_datetime" type="text" name="task_datetime" data-theme="d"readonly value="<%= $choosed['0'] %>"  onClick="PickTaskChangeFocus();"></input>
               </div>
               <div data-role="fieldcontain">
                   <label for="task_description">Description:</label>
                   <textarea cols="40" rows="4" name="task_description" data-theme="d" id="task_description"></textarea>
               </div>
 			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<legend>Priority:</legend>
					<input type="checkbox" name="task_priority_checkbox" id="task_priority_checkbox" data-theme="d" class="custom"/>
					<label for="task_priority_checkbox"><img src="/public/images/red_exclamation.png" style="width: 16px; height: 16px;" />High</label>
				</fieldset>	                         
			</div>
            <input type="submit"  value="Create Task" data-theme="b"/>
		</form>
	</div>
</div>

