<div class="pageTitle">
  <h1><%= @activity.type %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @activity.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Type</div>
          <div class="itemValue"><%= @activity.type %></div>
        </li>
    
        <li>
          <div class="itemLabel">ParentId</div>
          <div class="itemValue"><%= @activity.parent_id %></div>
        </li>
    
        <li>
          <div class="itemLabel">ParentType</div>
          <div class="itemValue"><%= @activity.parent_type %></div>
        </li>
    
        <li>
          <div class="itemLabel">Activityid</div>
          <div class="itemValue"><%= @activity.activityid %></div>
        </li>
    
        <li>
          <div class="itemLabel">Statecode</div>
          <div class="itemValue"><%= @activity.statecode %></div>
        </li>
    
        <li>
          <div class="itemLabel">Statuscode</div>
          <div class="itemValue"><%= @activity.statuscode %></div>
        </li>
    
        <li>
          <div class="itemLabel">Scheduledstart</div>
          <div class="itemValue"><%= @activity.scheduledstart %></div>
        </li>
    
        <li>
          <div class="itemLabel">Scheduledend</div>
          <div class="itemValue"><%= @activity.scheduledend %></div>
        </li>
    
  </ul>
</div>