<div data-role="page" data-theme="b" data-cache="never">
		<%= offline_bar%>
		<div data-role="header" data-backbtn="false" data-theme="b" >
			<a href="<%=url_for(:controller => :Opportunity, :action=>:show, :id => @callback.opportunity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>			
			<h3>Callback <%= sync_spinner %></h3>
			<a data-icon="edit" href="<%=url_for(:action=>:edit, :id => @callback.object, :query => {:origin => @params['origin']})%>" data-direction="forward"> Edit </a>
		</div>
	<div data-role="content" data-theme="b">
		<ul data-role="listview" data-theme="d" data-inset="true">
			<li data-role="list-divider">Callback Detail</li>
			<li>Callback Date and Time: <br/><%= "#{to_datetime(@callback.scheduledstart)}" %></li>
			    <li>Priority: <%= @callback.prioritycode %>
            	<li>Phone Type: <%= @callback.cssi_phonetype %> </li>
		    	<li>Phone Number: <%= @callback.phonenumber %></li>
			<% @notes.each do |note| %>
				<li>Notes: <%= note.notetext %></li>
			<% end %>			
		</ul>
	</div>
</div>
