<div data-role="page" data-theme="b" id="dependent_add_page">
	<form method="post" id="dependent_add" action="<%= url_for :action => :create, :query => {:opportunity => @params['opportunity'], :origin => @params['origin']} %>" name="dependent_add">
		<div data-role="header" data-backbtn="false" data-theme="b">
			<a href="<%=url_for(:controller=>:Contact, :action=>:show, :id => @contact.object, :query=>{:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>
			<h1>Add Dependent</h1>
			<span class="ui-btn-right">
				<input type="submit" href="#" data-theme="b" data-direction="reverse" value="Done"/>
			</span>
		</div>
		<div id="contentDiv" data-role="content">
			<input type="hidden" name="dependent[contact_id]" value="<%= @contact.object %>"/>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_name]" class="fieldLabel">First Name:<font color="red">  *</font></label>
					<input type="text" maxlength="100" name="dependent[cssi_name]" id="dependent[cssi_name]" class="required "  value="" />
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_lastname]" class="fieldLabel">Last Name:</label>
					<input type="text" maxlength="100" name="dependent[cssi_lastname]" class="required_group" value="" />
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_heightft]" class="fieldLabel">Height:</label>
					<select name="dependent[cssi_heightft]" data-role="none" id="dependent[cssi_heightft]">
						<option value=""></option>
						<% (0..10).each do |i| %>
							<option value="<%= i %>"><%= i %></option>
						<% end %>				
					</select>'&nbsp;
					<select name="dependent[cssi_heightin]" data-role="none" id="dependent[cssi_heightin]">
						<option value=""></option>
						<% (0..12).each do |i| %>
							<option value="<%= i %>"><%= i %></option>
						<% end %>
					</select>"
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_weight]" class="fieldLabel">Weight (lbs):</label>
					<input type="number" name="dependent[cssi_weight]" id="dependent[cssi_weight]" value="" />					
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_dateofbirth]" class="fieldLabel">Date of Birth:</label>
					<input id="dependent[cssi_dateofbirth]" type="text" name="dependent[cssi_dateofbirth]" readonly value="<%= $choosed['0'] %>" onClick="popupBirthDateAJPicker('1', 'Dependent Birth Date', 'dependent[cssi_dateofbirth]');"></input>
				</div>
			</div>
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_gender]" class="fieldLabel">Gender:</label>
					<select name="dependent[cssi_gender]" data-role="none" id="dependent[cssi_gender]">
						<option value=""></option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
			</div>	
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="tobaccoSlider" class="fieldLabel">Tobacco:</label>
					<select name="dependent[cssi_usetobacco]" id="tobaccoSlider" data-role="slider">
						<option value="False">No</optionpn>
						<option value="True">Yes</option>						
					</select>
				</div>
			</div>		
			<div data-role="fieldcontain">
				<div class="ui-body ui-body-d">
					<label for="dependent[cssi_comments]" class="fieldLabel">Comments:</label>
					<input type="text" maxlength="250" name="dependent[cssi_comments]" id="dependent[cssi_comments]" class="required_group" value="" />
				</div>
			</div>
			<input type="submit" data-theme="b" value="Done"/>
		</div>
	</form>
</div>