<div data-role="page" data-theme="b" id="dependent_new_page">
	<%= offline_bar%>
	<form method="post" id="dependent_form" action="<%= url_for :action => :create, :query => {:opportunity => @params['opportunity'], :origin => @params['origin']} %>" name="dependent_add">
		<div data-role="header" data-backbtn="false" data-theme="b">
			<a href="<%=url_for(:controller=>:Contact, :action=>:show, :id => @contact.object, :query=>{:origin => @params['origin'], :opportunity => @params['opportunity']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>
			<h1>Add Dependent <%= sync_spinner %></h1>
			<input type="submit" href="#" data-theme="b" data-direction="reverse"  class="ui-btn-right" value="Done"/>
		</div>
		<div id="contentDiv" data-role="content" data-theme="b">
			<input type="hidden" name="dependent[contact_id]" value="<%= @contact.object %>"/>
			<div data-role="fieldcontain">
				<label for="dependent[cssi_name]" class="fieldLabel">First Name:<font color="red">  *</font></label>
				<input type="text" maxlength="100" name="dependent[cssi_name]" id="dependent[cssi_name]" class="required" data-theme="d" value="" />
			</div>
			<div data-role="fieldcontain">
				<label for="dependent[cssi_lastname]" class="fieldLabel">Last Name:</label>
				<input type="text" maxlength="100" name="dependent[cssi_lastname]" data-theme="d"value="" />
			</div>
			<div data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>Height:</legend>
				<label for="dependent[cssi_heightft]">Feet</label>
				<select name="dependent[cssi_heightft]"  id="dependent[cssi_heightft]" data-theme="d">
					<option value="">Feet</option>
					<% Constants::HEIGHT_FEET.each.each do |i| %>
						<option value="<%= i %>"><%= i %></option>
					<% end %>				
				</select>
				<label for="dependent[cssi_heightin]">Inches</label>
				<select name="dependent[cssi_heightin]"  id="dependent[cssi_heightin]" data-theme="d">
					<option value="">Inches</option>
					<% Constants::HEIGHT_INCHES.each do |i| %>
						<option value="<%= i %>"><%= i %></option>
					<% end %>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="dependent[cssi_weight]" class="fieldLabel">Weight (lbs):</label>
				<input type="number" name="dependent[cssi_weight]" data-theme="d" id="dependent[cssi_weight]" value="" />					
			</div>
			<div data-role="fieldcontain">
				<label for="dependent[cssi_dateofbirth]" class="fieldLabel">Date of Birth:</label>
				<input id="dependent[cssi_dateofbirth]" type="text" name="dependent[cssi_dateofbirth]" data-theme="d" readonly value="<%= $choosed['0'] %>" onClick="popupBirthDateAJPicker('1', 'Dependent Birth Date', 'dependent[cssi_dateofbirth]'); document.getElementById('submit_button').focus();"></input>
			</div>
			<div data-role="fieldcontain">
				<label for="dependent[cssi_gender]" class="select">Gender:</label>
				<select name="dependent[cssi_gender]"  id="dependent[cssi_gender]" data-theme="d">
					<option value=""></option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>	
			<div data-role="fieldcontain">
				<label for="tobaccoSlider" class="fieldLabel">Tobacco:</label>
				<select name="dependent[cssi_usetobacco]" id="tobaccoSlider" data-theme="d" data-role="slider">
					<option value="False">No</option>
					<option value="True">Yes</option>						
				</select>
			</div>		
			<div data-role="fieldcontain">
				<label for="dependent[cssi_comments]" class="fieldLabel">Comments:</label>
				<input type="text" maxlength="250" name="dependent[cssi_comments]" data-theme="d" id="dependent[cssi_comments]" value="" />
			</div>
			<input id="submit_button" type="submit" data-theme="b" value="Done"/>
		</div>
	</form>
</div>