<div id="call_back_detail" class="ui-body ui-body-d" style="display: none">

	<form name="call_back_form" method="POST" action="<%= url_for :controller => :Activity, :action => :update_status %>">
		<input type="hidden" name="opportunity_id" value="<%= opportunity.object %>" />
		<input type="hidden" name="phone_call[cssi_disposition]" value="Call back requested" />
		<div data-role="fieldcontain">
            <label for="callback_date">Call Back Date:</label>
			<input type="date" name="callback_date" id="callback_date" value=""  />
			<label for="callback_time" class="fieldLabel">Time:</label>
			<input id="callback_time" type="text" name="callback_time" readonly value="<%= $choosed['2'] %>"  onClick="popupDateTimeAJPicker('2', 'Choose Time', 'callback_time');"></input>
			<label for="phoneList" class="fieldLabel">Phone Type:</label>
            <select name="phoneList" id="phoneList" onchange='populatePhone(this.form.phoneList);'>
				<option data-placeholder="true"></option>
				<% opportunity.contact.phone_numbers.each do |type, number| %>
					<option value="<%= number %>"><%= type %></option>
				<% end %>
					<option value="&nbsp;">Ad-Hoc</option>
			</select><br />
			<label for="phone_call[phonenumber]" class="fieldLabel">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" /><br />
			<input type="submit" class="standardButton" value="Update"/>
		</div>
	</form>
</div>