<%= items.length %>
<% items.each do |row|
    if row.class.to_s == 'Hash' %>
<div class="ui-li ui-li-divider bar-b"><%= row[:divider] %></div>
<%  else
        if origin == 'new-leads' || origin == 'follow-ups'
            opportunity = row
        else
            opportunity = row.opportunity
            next unless opportunity
        end
        contact = opportunity.contact
        next unless contact
        url = url_for :action => :show, :id => opportunity.object, :query => { :origin => origin }
        urlIsExternal = false
        text = contact.full_name
        if origin == 'new-leads'
            top_right_text = to_datetime_noyear(opportunity.createdon)
            bottom_right_text = "Created #{DateUtil.days_ago_formatted(opportunity.createdon)}"
        elsif origin == 'follow-ups'
            top_right_text = opportunity.cssi_statusdetail
            bottom_right_text = opportunity.cssi_lastactivitydate.blank? ? nil : "#{DateUtil.days_ago_relative(opportunity.cssi_lastactivitydate)}"
        else
            scheduledtime = row.scheduledstart
            top_right_text = to_datetime_noyear(scheduledtime)
            bottom_right_text = "Due #{DateUtil.days_calc_formatted(scheduledtime)}"
        end
        bottom_right_count = nil
        bottom_left_text = contact.age_sex_loc if contact.age_sex_loc.length > 0
        bottom_left_count = opportunity.phone_calls.size if opportunity.phone_calls.size > 0
        left_icon = '/public/images/self_lead_icon.png' if @self_id == opportunity.cssi_assetownerid && opportunity.opportunityratingcode == 'Warm'
        left_icon = '/public/images/self_lead_exclamation_icon_v3.png' if @self_id == opportunity.cssi_assetownerid && opportunity.opportunityratingcode == 'Hot'
        left_icon = '/public/images/skinny_red_exclamation_v3.png' if !(@self_id == opportunity.cssi_assetownerid) && opportunity.opportunityratingcode == 'Hot'
        icon = nil
        url2_title = 'Details'
        if origin == 'new-leads' || origin == 'follow-ups'
            url2IsExternal = true
            url2 = url_for :action => :phone_dialog, :id=> opportunity.object, :query => { :opportunity => opportunity.object, :location => 'blank', :origin => origin }
            url2_icon = 'phone'
        else
            url2IsExternal = false
            if row.type == 'PhoneCall'
                url2 = url_for :action => :call_number, :id=> opportunity.object, :query =>{ :opportunity => opportunity.object, :phone_number => row.phonenumber, :origin => origin}, :redirect_action => :show
                url2_icon = 'phone'
            else
                if System::get_property('platform') == 'APPLE'
                    url2 = "maps:q=#{Rho::RhoSupport.url_encode(row.location)}"
                else
                    url2 = "http://maps.google.com/?rho_open_target=_blank&q=#{Rho::RhoSupport.url_encode(row.location)}"
                end
                url2_icon = 'map'
            end
        end %>
<div class="ui-li ui-btn-icon-right ui-li-has-alt btn-up-c">
  <div class="ui-btn-inner ui-li ui-li-has-alt">
    <div class="ui-btn-text">
      <a class="ui-link-inherit btn" href="<%= url %>"<%= ' rel="external"' if urlIsExternal %>>
<%      if top_right_text %>
        <p class="ui-li-aside ui-li-desc" style="width: 40%;"><strong><%= top_right_text %></strong></p>
<%      end %>
        <h4 style="margin-top: 0px; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
<%      if !left_icon.blank? %>
          <img src="<%= left_icon %>" class="ui-li-thumb" style="position: relative; top: 2px; width: 16px; height: 16px;"/>
<%      end %>
          <%= text %>
        </h4>
        <div class="ui-grid-a ui-li-desc" style="margin-bottom: 0px; padding-top: 1px; padding-bottom: 1px;">
          <div class="ui-block-a">
<%      if bottom_left_count %>
            <span class="ui-li-count btn-up-c ui-btn-corner-all" style="background: #fadb4e;">&nbsp;<%= bottom_left_count %>&nbsp;</span>
<%      end
        if bottom_left_text
            if bottom_left_count %>
            &nbsp;
<%          end %>
            <%= bottom_left_text %>
<%      end %>
          </div>
          <div class="ui-block-b" align="right">
<%      if bottom_right_text %>
            <%= bottom_right_text %>
<%      end
        if bottom_right_count
            if bottom_right_text %>
            &nbsp;
<%          end %>
            <span class="ui-li-count btn-up-c ui-btn-corner-all" style="background: #fadb4e;">&nbsp;<%= bottom_right_count %>&nbsp;</span>
<%      end %>
          </div>
        </div>
      </a>
    </div>
<%      if icon %>
    <span class="ui-icon ui-icon-<%= icon %> ui-icon-shadow"></span>
<%      end %>
  </div>
<%      if url2 %>
  <a class="ui-li-link-alt btn split-btn-up-c ui-btn-icon-notext" title="<%= url2_title %>" href="<%= url2 %>"<%= ' rel="external"' if url2IsExternal %>>
    <span class="ui-btn-inner">
      <span class="ui-shadow ui-btn-corner-all ui-btn-icon-notext" title="">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-icon ui-icon-<%= url2_icon %> ui-icon-shadow"></span>
        </span>
      </span>
    </span>
  </a>
<%      end %>
</div>
<%  end
end %>

