<%= items.length %>
<% items.each do |row|
    if row.class.to_s == 'Hash' %>
<div class="ui-li ui-li-divider bar-b"><%= row[:divider] %></div>
<%  else
        if origin == 'new-leads' || origin == 'follow-ups'
            opportunity = row
        else
            opportunity = row.opportunity
            next unless opportunity
        end
        contact = opportunity.contact
        next unless contact
        url = url_for :action => :show, :id => opportunity.object, :query => { :origin => origin }
        urlIsExternal = false
        text = contact.full_name
        if origin == 'new-leads'
            top_right_text = to_datetime_noyear(opportunity.createdon)
            bottom_right_text = "Created #{DateUtil.days_ago_formatted(opportunity.createdon)}"
        elsif origin == 'follow-ups'
            top_right_text = opportunity.cssi_statusdetail
            bottom_right_text = opportunity.cssi_lastactivitydate.blank? ? nil : "#{DateUtil.days_ago_relative(opportunity.cssi_lastactivitydate)}"
        else
            scheduledtime = row.scheduledstart
            top_right_text = to_datetime_noyear(scheduledtime)
            bottom_right_text = "Due #{DateUtil.days_calc_formatted(scheduledtime)}"
        end
        bottom_right_count = nil
		if opportunity.cssi_lineofbusiness == 'Small Biz'
			bottom_left_text = contact.employer_loc if contact.employer_loc.length > 0
		else	
        	bottom_left_text = contact.age_sex_loc if contact.age_sex_loc.length > 0
		end
        bottom_left_count = opportunity.phone_calls.size if opportunity.phone_calls.size > 0
	
		left_icon = '/public/images/empty.png'
		left_icon = '/public/images/Employer.png' if @self_id == opportunity.cssi_assetownerid && opportunity.cssi_lineofbusiness == 'Small Biz'		
		left_icon = '/public/images/Medicare.png' if @self_id == opportunity.cssi_assetownerid && opportunity.cssi_lineofbusiness == 'Medicare'
		left_icon = '/public/images/Supplemental.png' if @self_id == opportunity.cssi_assetownerid && opportunity.cssi_lineofbusiness == 'Supplemental'
		left_icon = '/public/images/Health.png' if @self_id == opportunity.cssi_assetownerid && opportunity.cssi_lineofbusiness == 'Health'
		left_icon = '/public/images/Life.png' if @self_id == opportunity.cssi_assetownerid && opportunity.cssi_lineofbusiness == 'Life'
        icon = nil
        url2_title = 'Details'
        if origin == 'new-leads' || origin == 'follow-ups'
            url2IsExternal = true
            url2 = url_for :action => :phone_dialog, :id=> opportunity.object, :query => { :opportunity => opportunity.object, :location => 'blank', :origin => origin }
            url2_icon = 'phone'
        else
            url2IsExternal = false
            if row.type == 'PhoneCall'
                url2 = url_for :action => :call_number, :id=> opportunity.object, :query =>{ :opportunity => opportunity.object, :phone_number => row.phonenumber, :origin => origin}, :redirect_action => :show
                url2_icon = 'phone'
            else
                if System::get_property('platform') == 'APPLE'
                    url2 = "maps:q=#{Rho::RhoSupport.url_encode(row.location)}"
                else
                    url2 = "http://maps.google.com/?rho_open_target=_blank&q=#{Rho::RhoSupport.url_encode(row.location)}"
                end
                url2_icon = 'map'
            end
        end %>
<li data-icon="phone">
      <a  href="<%= url %>"<%= ' rel="external"' if urlIsExternal %>>
<%      if top_right_text %>
        <p class="ui-li-aside ui-li-desc" style="width: 40%;"><strong><%= top_right_text %></strong></p>
<%      end %>
        <h4 style="margin-top: 0px; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
<%      if opportunity.opportunityratingcode != 'Hot'%>
          <img src="<%= left_icon %>" class="ui-li-thumb" style="position: relative; top: 2px; width: 16px; height: 16px;"/>	
<%      end %>
<%      if opportunity.opportunityratingcode == 'Hot'%>
		  <img src="/public/images/red_exclamation.png" class="ui-li-thumb" style="top: 12px; width: 16px; height: 16px;"/>
          <img src="<%= left_icon %>" class="ui-li-thumb" style="position: relative; top: 2px; width: 16px; height: 16px;"/>	
<%      end %>	
          <%= text %>
        </h4>
        <div class="ui-grid-a ui-li-desc" style="margin-bottom: 0px; padding-top: 1px; padding-bottom: 1px;">
          <div class="ui-block-a" style="white-space:nowrap; overflow:hidden; text-overflow: ellipsis;width: 65%;">
<%      if bottom_left_count %>
            <span class="ui-li-count btn-up-c ui-btn-corner-all" style="background: #fadb4e;">&nbsp;<%= bottom_left_count %>&nbsp;</span>
<%      end
        if bottom_left_text
            if bottom_left_count %>
            &nbsp;
<%          end %>
            <%= bottom_left_text %>
<%      end %>
          </div>
          <div class="ui-block-b" align="right" style="width: 35%;">
<%      if bottom_right_text %>
            <%= bottom_right_text %>
<%      end
        if bottom_right_count
            if bottom_right_text %>
            &nbsp;
<%          end %>
            <span class="ui-li-count btn-up-c ui-btn-corner-all" style="background: #fadb4e;">&nbsp;<%= bottom_right_count %>&nbsp;</span>
<%      end %>
          </div>
        </div>
      </a>
<%      if icon %>
    <span class="ui-icon ui-icon-<%= icon %> ui-icon-shadow"></span>
<%      end %>
<%      if url2 %>
  <a href="<%= url2 %>"<%= ' rel="external"' if url2IsExternal %> >
    
  </a>
<%      end %>
</li>
<%  end
end %>

