<% contact = opportunity.contact %>
<li role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c">
	<a class="ui-li-sidebar-<%=color%> ui-btn-up-c"> </a> 
	<div class="ui-btn-inner" onclick="window.open('<%= url_for(:action => :show, :id => opportunity.object, :query => {:origin => origin}) %>')">
		<div class="ui-btn-text">
			<p class="ui-li-aside ui-li-desc"><strong><%= top_right_text %></strong></p>
			<h3 class="ui-li-heading">
				<a href="<%= url_for(:action => :show, :id => opportunity.object, :query => {:origin => origin}) %>" class="ui-link-inherit ui-block-a"><%= contact.full_name %></a>
			</h3>
			<p class="ui-li-desc"></p>
			<div class="ui-grid-a ui-li-desc">
				<div class="ui-block-a">&nbsp;
					<% if opportunity.phone_calls.size > 0 %>
						<div class="ui-li-count ui-btn-up-e ui-btn-corner-all" style="top:70%;right:45%"><%= opportunity.phone_calls.size %></div>
					<% end %>
					<%= contact.age_sex_loc %> 
				</div>
				<div align="right" class="ui-block-b">
					<%= bottom_right_text %>
				</div>
			</div>
		</div>
	</div>

	<a href="<%= url_for :action => launcher, :id => opportunity.object, :query =>{:location => location}%>" title="Details" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
		<span class="ui-btn-inner"><span class="ui-btn-text"></span>
		<span title="" data-theme="b" class="ui-btn ui-btn-up-b ui-btn-icon-notext ui-btn-corner-all ui-shadow">
			<span class="ui-btn-inner ui-btn-corner-all">
				<span class="ui-btn-text"></span>
				<span class="ui-icon ui-icon-<%=icon%> ui-icon-shadow"></span>
			</span>
		</span>
	</a>			
</li>

