<div data-role="page" data-theme="b">
	<%= offline_bar%>
	<div data-role="header" data-theme="b" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object, :query=>{:origin=>@params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>
		<h1>Activity Summary <%= sync_spinner %></h1>	
	</div>
	<div id="contentDiv" data-role="content">
		<div style="text-align:center" class="ui-bar"> 
			<h1><%= "#{@contact.full_name} - #{to_date(@opportunity.createdon)}" %></h1>
		</div>
		<br/>	
		<hr/>
		<ul data-role="listview" data-filter="false" data-inset="false" data-theme="d">
			<!-- NOTE: May have to make this markup conditional to show appointment status(statuscode) correctly -->
			<% @activity_list.each do |activity|%>
				<li>
					<h3> <%= activity.activity_type %></h3>
						<p class="ui-li-aside"><strong><%= activity.scheduledstart %></strong></p>
					
					<% if activity.statuscode %>
						<p><%= activity.statuscode%></p>
					<% end %>
					<% if activity.cssi_disposition %>
						<p><%= activity.cssi_disposition %></p>
					<% end %>
						<p>Subject: <%= activity.subject %></p>


				</li>
			<% end %>
		</ul>
	</div>
</div>