<script type='text/javascript'>
	$(document).ready(function() {
		populatePhone(document.getElementById('phoneList'));
	});
	
function PickDateCallbackChangeFocus() {
popupDateTimeAJPicker('0', 'Callback Time', 'callback_datetime');
document.getElementById('callback_datetime').focus();
}
</script>
<div data-role="page" data-theme="b" id="callback_create">
	<%= offline_bar%>
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Call Back <%= sync_spinner %></h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<div class="ui-body ui-body-d">
			<form name="call_back_form" id="call_back_form" method="POST" action="<%= url_for :controller => :Activity, :action => :update_status_call_back_requested, :query => {:origin => @params['origin']} %>">
				<input type="hidden" name="opportunity_id" value="<%= @opportunity.object %>" />
				<% @params['appointments'].each do |appt| %>
					<input type="hidden" name="appointments[]" value="<%= appt %>" />
				<% end %>
				<div data-role="fieldcontain">
					<div data-role="fieldcontain">
		            	<label for="callback_datetime">Call Back Date and Time:<font color="red"> *</font></label>
						<input id="callback_datetime" type="text" class="required" name="callback_datetime" readonly value="<%= $choosed['0'] %>"  onClick="PickDateCallbackChangeFocus();"></input>
					</div>
					<div data-role="fieldcontain">
						<input type="hidden" id="phone_type_selected" name="phone_type_selected" />
					    <label for="phonelist">Phone Type:</label>            
						<select name="phoneList" id="phoneList" onchange="populatePhone(this.form.phoneList);" data-role="none" class="ins-drop-down">
							<% @opportunity.contact.phone_numbers.each do |type, number| %>
								<% if @opportunity.contact.cssi_preferredphone == type %>
									<option selected value="<%= number %>"><%= type %></option>
								<% else %>
									<option value="<%= number %>"><%= type %></option>
								<% end %>
							<% end %>
								<option value=''>Ad Hoc</option>
						</select>
					</div>
					<div data-role="fieldcontain">
						<label for="phone_number" class="fieldLabel">Phone Number: <font color="red"> *</font></label>
						<% if System::get_property('platform') == 'APPLE' %>
			            	<input onkeyup="javascript:backspacerUP(this,event);" onkeydown="javascript:backspacerDOWN(this,event);" type="tel" id="phoneNumber" name="phone_number" value="" /><br />
						<% else %>
							<input type="tel" id="phoneNumber" name="phone_number" onkeypress="if(event.keyCode==13){return false;}" /><br />
						<% end %>
					</div>
					<div data-role="fieldcontain">
						<input type="submit" class="standardButton" onclick="return enablePhoneNumber();" value="Create Call Back"/>
					</div>
				</div>
				<% unless System::get_property('platform') == 'Blackberry'%>
				<%end%>
			</form>
		</div>
	</div>

</div>
