<div class="opp_followup_filter" data-role="fieldcontain">
    <label for="followup_status_reason_filter" class="select">Status Reason:</label>
    <select name="followup_status_reason_filter" id="followup_status_reason_filter" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
        <%= jqm_followup_status_reason_filter_options %>
    </select>
</div>
<div class="opp_followup_filter" data-role="fieldcontain">
    <label for="followup_sort_by_filter" class="select">Sort By:</label>
    <select name="followup_sort_by_filter" id="followup_sort_by_filter" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
        <%= jqm_followup_sort_by_filter_options %>
    </select>
</div>
<label for="followup_created_filter" class="opp_followup_filter select" >Created:</label>
<div class="opp_followup_filter ui-grid-a">
    <div class="ui-block-a">
        <select name="followup_created_filter" id="followup_created_filter" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
            <%= jqm_followup_created_filter_options %>
        </select>
    </div>
    <div class="ui-block-b">
        <input type="checkbox" name="followup_daily_filter" id="followup_daily_filter" <%= jqm_followup_daily_filter_options %>/>
        <label for="followup_daily_filter">Daily Call</label>
    </div>
</div>
<div class="appts_followup_filter" data-role="fieldcontain">
    <label for="appointments_select_filter" class="select">Type:</label>
    <select name="appointments_select_filter" id="appointments_select_filter" <%= ' data-native-menu="false"' if  (System.get_property('platform') == 'APPLE' && System::get_property('os_version').split('.')[0].to_i >= 9)%>>
        <%= jqm_scheduled_filter_options %>
    </select>
</div>
<div class="appts_followup_filter" data-role="fieldcontain">
    <label for="appointments_search_input">Search:</label>
    <input type="text" name="appointments_search_input" id="appointments_search_input" maxlength="30" value="<%= @persisted_scheduled_search %>"/>
</div>
