
<div data-role="page" data-theme="b">
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object)%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Lost Opportunity</h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<div class="ui-body ui-body-d">
			<form name="lost_opportunity_other_form" method="POST" action="<%= url_for :controller => :Activity, :action => :udpate_lost_status, :query => {:origin => @params['origin']} %>">
				<input type="hidden" name="opportunity_id" value="<%= @opportunity.object %>" />
				<label for="status_code" class="fieldLabel">Lost Reason (Required):</label>
					
				<select name="status_code" id="status_code">
					<option></option>
					<% @lost_reasons.each do |reason| %>
						<option value="<%=reason%>"><%=reason%></option>
					<% end %>
				</select>

				<label for="competitorid" class="fieldLabel">Competitor (Optional):</label>
				<select name="competitorid" id="competitorid">
					<option></option>
					<% @competitors.each do |competitor| %>
						<option value="<%=competitor%>"><%=competitor%></option>
					<% end %>
				</select>

				<input type="submit" class="standardButton" value="Update"/>
			</form>
		</div>
	</div>

</div>

