<div data-role="page" data-theme="b" id="mark_as_won_page">
    <script type="text/javascript">
        function PickDueDateChangeFocus() {
            popupTomorrowDateTimeAJPicker('0', 'Due Time', 'task_due_datetime');
            document.getElementById('task_due_datetime').focus();
        }
    </script>
    <%= offline_bar%>
    <div data-role="header" data-theme="b" data-position="inline">
        <a href="<%=url_for(:action=>:show, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
        <h1>Opportunity Won <%= sync_spinner %></h1>
    </div>
    <div id="contentDiv" data-role="content" data-theme="b">
		<div style="text-align:center" class="ui-bar">
            <h1><%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %><h1>
        </div>
		<hr/>
        <form id="won_form" name="won_form" method="POST" action="<%= url_for :controller => :Activity, :action => :update_won_status, :query => {:origin => @params['origin'], :opportunity_id => @opportunity.object, :appointments => @params['appointments']} %>">
            <ul data-role="listview" data-filter="false" data-inset="true" data-theme="d">
                <li data-role="list-divider">Application Detail</li>
                <li data-icon="plus"><a class="UpdateStatus" href="<%= url_for(:controller => :ApplicationDetail, :action => :new, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-transition="slide">Add Application Detail</a></li>
                <% if @opportunity.app_details.size > 0 %>
                    <% @opportunity.app_details.each do |appdetail| %>
                        <li>
                            <a href="<%= url_for(:controller => :ApplicationDetail, :action => :show, :id => appdetail.object, :query => {:origin => @params['origin'], :opportunity => @opportunity.object}) %>">
                                <br/><p>Carrier: <%= appdetail.cssi_carrierid %></p>
                                <p>LOB: <%= appdetail.cssi_lineofbusinessid%></p>
                                <p>Apps Submitted: <%= appdetail.cssi_applicationssubmitted %></p>
                                <p>Total AV: <%= format_currency(appdetail.cssi_avforapplicationsubmitted) %> </p>
                                <p>App Date: <%= to_date(appdetail.cssi_applicationdate) %> </p>
                            </a>
                        </li>
                    <% end %>
                <% end %>
            </ul>
            <%= quick_task_add_panel %>
            <input type="submit" class="standardButton" data-direction="reverse" value="Mark as Won" data-theme="b"/>
        </form>
    </div>
</div>
