<div data-role="page" data-theme="b" data-cache="never">
	<%= offline_bar%>
	<form method="post" id="opp_add" action="<%= url_for(:action => :create, :query => {:id => @contact.object, :origin => @params['origin']})%>" name="opp_add">
		<div data-role="header" data-backbtn="false" data-theme="b" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false">
			<a href="<%=url_for(:controller => :Contact, :action => :show, :id => @contact.object, :query=> {:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Back</a>
			<h1>Create Opportunity <%= sync_spinner %></h1>
			<span class="ui-btn-right">
				<input type="submit"  data-theme="b" class="ui-btn-right" data-direction="reverse" value="Done"/>
			</span>
		</div>	
		<div data-role="content" data-theme="b">
			<ul data-role="listview" data-filter="false" data-inset="true" data-theme="d" > 
				<li data-role="list-divider">Opportunity Information</li>
				<li>
					<h3><%= @contact.full_name %></h3>
					<p><%= @contact.gendercode %>, Age <%= (@contact.age).to_s %> </p>
					<p>DOB: <%= to_date(@contact.birthdate) %></p>		
				</li>
			</ul>
			<div data-role="fieldcontain">
				<label for="opportunity_lineofbusiness" class="select">LOB:</label>
				<select data-theme="d" id="opportunity_lineofbusiness" name="opportunity[cssi_lineofbusiness]" data-theme="d" >
					<option value="" selected="true"></option>
						<% StaticEntity.get_rawlead_lob_names.each do |lob_name| %>
							<option value="<%=lob_name%>">
								<%=lob_name%>
							</option>
						<% end %>
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="opportunity_inputsource" class="select">Source:</label>
				<select data-theme="d" id="opportunity_inputsource" name="opportunity[cssi_leadsourceid]" data-theme="d" >
					<option value="" selected="true"></option>
						<% StaticEntity.get_lead_source_names.each do |lead_source_name| %>
							<option value="<%=lead_source_name%>">
								<%=lead_source_name%>
							</option>
						<% end %>					
				</select>
			</div>
			<input type="submit"  data-theme="b" data-direction="reverse" value="Done"/>
		</div>
	</form>
</div>