<div class="pageTitle">
  <h1>New <%= @opportunity.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @opportunity.object %>"/>
    <ul>
      
          <li>
            <label for="opportunity[status]" class="fieldLabel">Status</label>
            <input type="text" name="opportunity[status]" <%=
            placeholder("Status") %> />
          </li>
      
          <li>
            <label for="opportunity[source]" class="fieldLabel">Source</label>
            <input type="text" name="opportunity[source]" <%=
            placeholder("Source") %> />
          </li>
      
          <li>
            <label for="opportunity[status_reason]" class="fieldLabel">Status reason</label>
            <input type="text" name="opportunity[status_reason]" <%=
            placeholder("Status reason") %> />
          </li>
      
          <li>
            <label for="opportunity[vendor]" class="fieldLabel">Vendor</label>
            <input type="text" name="opportunity[vendor]" <%=
            placeholder("Vendor") %> />
          </li>
      
          <li>
            <label for="opportunity[lead_type]" class="fieldLabel">Lead type</label>
            <input type="text" name="opportunity[lead_type]" <%=
            placeholder("Lead type") %> />
          </li>
      
          <li>
            <label for="opportunity[created_on]" class="fieldLabel">Created on</label>
            <input type="text" name="opportunity[created_on]" <%=
            placeholder("Created on") %> />
          </li>
      
          <li>
            <label for="opportunity[updated_on]" class="fieldLabel">Updated on</label>
            <input type="text" name="opportunity[updated_on]" <%=
            placeholder("Updated on") %> />
          </li>
      
          <li>
            <label for="opportunity[priority]" class="fieldLabel">Priority</label>
            <input type="text" name="opportunity[priority]" <%=
            placeholder("Priority") %> />
          </li>
      
          <li>
            <label for="opportunity[category]" class="fieldLabel">Category</label>
            <input type="text" name="opportunity[category]" <%=
            placeholder("Category") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>