<div data-role="page" data-theme="b" id="reassign">
    <%=offline_bar%>
    <div data-role="header" data-theme="b" data-position="inline">
        <a href="<%=@cancel_action%>" rel="external" data-icon="back">Cancel</a>
        <h1>Reassign <%=sync_spinner%></h1>
    </div>
    <div style="text-align: center;" class="ui-bar ui-bar-c">
        <%=@opportunity_title%><br/>
    </div>
    <div data-role="content" data-theme="b">
          <div data-role="fieldcontain">
                 <label for="reassign_to" class="select">Reassign opportunity to agent:</label>
                 <select name="reassign_to" id="reassign_to" data-theme="d" >
                     <%=@reassign_agent_options%>
                 </select>
           </div>
           <a id="reassign_btn" href="<%=@form_action%>" data-role="button" data-theme="b" data-rel="dialog">Reassign</a>
    </div>
    <script type='text/javascript'>
        $('#reassign_btn').click(function() {
            var a = $(this);
            var href = a.attr('href').replace(/&reassign_to=.*$/, '') + '&reassign_to=' + $('#reassign_to').val();
            a.attr('href', href);
        });
    </script>
</div>
