<div data-role="page" data-theme="b" data-cache="never">
	<% if @params['origin'] == "contact" %>
	<div data-role="header" data-backbtn="false">
		<a href="<%= url_for(:controller => :Contact, :action => :show, :id => @opportunity.contact.object) %>" data-direction="reverse" data-icon="back">Contact</a>
		<h3>Opportunity</h3>
	</div>
	<% else %>
	<div data-role="header" data-backbtn="false">
		<%= opp_detail_backbutton(@params['origin']) %>
		<h3>Opportunity</h3>
		<div data-role="controlgroup" data-type="horizontal" class="ui-btn-right" style="margin-top:-1px;">
	       	<a href="<%= url_for(:action=>:show_previous, :id => @opportunity.object, :query =>{:origin => @params['origin']}) %>"  data-icon="arrow-l" data-iconpos="left" data-role="button">&nbsp;</a>
	       	<a href="<%= url_for(:action=>:show_next, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>"  data-icon="arrow-r" data-iconpos="right" data-role="button">&nbsp;</a>
      </div>
	</div>
	<% end %>
		<div data-role="content"> 
			<% if ((@opportunity.statecode == "Won") || (@opportunity.statecode == "Lost"))%>
			<a href="<%= url_for :action => :phone_dialog, :id => @opportunity.object, :query =>{:origin => @params['origin']}%>" rel="external" data-role="button">Call</a>
			<% else %>
			<div class="ui-grid-a"> 
						<div class="ui-block-a"><a href="<%= url_for :action => :phone_dialog, :id => @opportunity.object, :query =>{:origin => @params['origin']}%>" rel="external" data-role="button">Call</a></div> 
						<div class="ui-block-b"><a href="<%= url_for(:action => :status_update, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" rel="external" data-transition="none" data-role="button" data-icon="plus">Update</a></div> 
			</div>
			<% end %> 
			<ul data-role="listview" data-theme="d" data-inset="true"> 
				<li>
					<% if @params['origin'] == "contact" %>
					<h3><%= @contact.full_name %></h3>
					<% else %>
					<h3><a href="<%= url_for(:controller => :Contact, :action => :show, :id => @contact.object, :query =>{:opportunity => @opportunity.object, :origin => @params['origin']}) %>"><%= @contact.full_name %></a></h3> 
					<% end %>
					<p><%= @contact.age_sex %></p> 
					<p><%= @contact.city_summary %></p> 
				</li> 
				<li><p><strong> Status:	</strong> <%= @opportunity.statecode %> </p></li> 
				<li><p><strong> Status Reason:	</strong> <%= @opportunity.statuscode %> </p></li> 
				<li><p><strong> Status Detail:	</strong> <%= @opportunity.cssi_statusdetail %> </p></li> 
				<li><p><strong> Source: 		</strong> <%= @opportunity.cssi_leadsourceid %> </li> 
				<li><p><strong> LOB: 			</strong> <%= @opportunity.cssi_lineofbusiness %></li>
				<li><p><strong> Lead Cost: 		</strong> <%= format_currency(@opportunity.cssi_leadcost.to_f, {}) %></li>  
				<li><p><strong> Created:		</strong> <%= to_datetime(@opportunity.createdon) %> </li> 
				<li><p><strong> Last Activity:	</strong> <%= to_datetime(@opportunity.cssi_lastactivitydate) %> </li> 
				<li><p><strong> Call Count: 	</strong> <%= @opportunity.phone_calls.size %> </li> 
			</ul>	
			<ul data-role="listview" data-filter="false" data-inset="true">
				<li data-role="list-divider">Notes</li>
				<% @notes.each do |note| %>
				<li>
					<p><strong><%= note.createdon %></strong> - <%= note.notetext %></p>
				</li>
				<% end %>
				<% if @opportunity.notes.size == 0 %>
					<li><div style="text-align:center"><i> (No Notes) </i></div></li>
				<% end %>
			</ul>
			<ul data-role="listview" data-filter="false" data-inset="true"> 
				<li data-role="list-divider">Appointments</li> 
				<% @opportunity.appointments.each do |appointment| %>
					<li> 
							<a href="<%= url_for(:controller => :Opportunity, :action => :map, :query => {:location => appointment.location, :origin => origin})%>">
							<div>
								<p>&nbsp;</p>
								<p><b><%= "#{to_datetime(appointment.scheduledstart)} - #{to_endtime(appointment.scheduledend)}" %></b></p>
								<p> <%= appointment.location %> </p>
								<p> <%= appointment.description %> </p>
							</div>
							</a>
					</li> 
				<% end %>
				<% if @opportunity.appointments.size == 0 %>
					<li><div style="text-align:center"><i> (No Appointments) </i></div></li>
				<% end %>
			</ul>			
			<a href="<%= url_for(:action => :activity_summary, :id => @opportunity.object) %>" data-role="button" data-icon="arrow-r" rel="external" data-iconpos="right">Activity Summary</a> 
		</div>
</div>