<div data-role="page" data-theme="b">
	<%= offline_bar%>
	<div data-role="header" data-theme="b" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object, :query => {:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Update Status <%= sync_spinner %></h1>
	</div>
	<div id="contentDiv" data-role="content">
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
		<hr/>
		<form>
		<% if @incomplete_appointments && @incomplete_appointments.size > 0 %>
			<div data-role="fieldcontain"> 
			 	<fieldset data-role="controlgroup">
				<legend>Did you complete any appointments?</legend> 
				<% @incomplete_appointments.each do |appointment| %>
					<input type="checkbox" name="<%= appointment.object %>" class="custom" id="<%= appointment.object %>" value="<%= appointment.object %>" />
					<label for="<%= appointment.object %>"> Appt <%= to_datetime(appointment.scheduledstart) %> </label> 
				<% end %>
				</fieldset> 
			</div>
		<% end %> 
		</form>
	<div>
	<div data-role="fieldcontain">
		<label for="status_note" class="fieldLabel">Add Note:</label>
		<input maxlength="200" type="text" id="status_note" value="" onkeypress="if(event.keyCode == 13){return false;}" />
		<input type="hidden" id="status_note_opp_id" value="<%= @opportunity.object %>">
	</div>
		<ul data-role="listview" data-theme="c" data-inset="true"> 
			<li data-role="list-divider">Follow-Up</li> 
			<% ['Left Message','No Answer'].each do |status_detail| %>
				<li class="NoContact">
					<%= udpate_status_no_contact_link(@opportunity, status_detail) %>
				</li> 
			<% end %>
			<li><a class="UpdateStatus" href="<%= url_for(:action => :callback_request, :id => @opportunity.object, :query =>{:test => "test", :origin => @params['origin']})%>" data-transition="slide">Call Back Requested...</a></li>	
			<li><a class="UpdateStatus" href="<%= url_for(:action => :appointment, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-transition="slide">Set Appointment...</a></li>
			<li data-role="list-divider">Lost</li> 
			<%['Not Interested','Wrong Number/Disconnected','Other'].each do |lost_detail| %>
			<li><a class="UpdateStatus" href="<%= url_for(:action => :lost_other, :id => @opportunity.object, :query =>{:origin => @params['origin'], :selected_option => lost_detail})%>" data-transition="slide"><%=lost_detail%></a></li>
			<% end %>
			<li data-role="list-divider">Won</li> 
			<li><a class="UpdateStatus" href="<%= url_for(:action => :won, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-transition="slide">Won</a></li>
		</ul>
	</div>
</div>