<div data-role="page" data-theme="b">
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object)%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Update Status</h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<div data-role="fieldcontain"> 
		 	<fieldset data-role="controlgroup"> 
				<legend>Did you complete any appointments?</legend>  
				<input type="checkbox" name="checkbox-2a" id="checkbox-2a" /> 
				<label for="checkbox-2a">List Appts Here...</label> 
		    </fieldset> 
		</div> 		
		<ul data-role="listview" data-inset="true"> 
			<li data-role="list-divider">Follow-Up</li> 
			<% [['Left Message', 'Left Message'], ['No Answer', 'No Answer'], ['No Answer', 'Call Back Requested...']].each do |disposition, text| %>
				<li>
					<a href="<%= url_for(:controller => :Activity, :action => :update_status, 
						:query => {
						  :opportunity_id => @opportunity.object,
						  :phone_call => {
							:disposition_detail => '',
							:cssi_disposition => disposition,
				            :scheduledend => Date.today.to_s,
				            :statecode => 'Completed'
						  }
						})%>" 
						rel="external" data-transition="fade">
						<%=text%>
					</a>
				</li> 
			<% end %>
			<li>
					<a href="javascript:toggle('call_back_detail');" data-transition="slide">Call Back Requested...</a>
			</li>
			<div id="call_back_detail" class="ui-body ui-body-d" style="display: none">
				<form method="POST" action="<%= url_for :controller => :Activity, :action => :update_status %>">
					<input type="hidden" name="id" />
					<div data-role="fieldcontain">
						<label for="phone_call[cssi_followupcall]" class="fieldLabel">Call Back DateTime:</label>
			            <input type="text" name="phone_call[cssi_followupcall]" />
						<label for="phone_call[phonetype]" class="fieldLabel">Phone Type:</label>
			            <select name="phone_call[phonetype]" id="select-choice-1">
							<option></option>
							<% @opportunity.contact.phone_numbers.each do |type, number| %>
								<option value="<%= number %>"><%= type %></option>
							<% end %>
						</select>
						<label for="phone_call[phonenumber]" class="fieldLabel">Phone Number:</label>
			            <input type="text" name="phone_call[phonenumber]" />
						<input type="submit" class="standardButton" value="Update"/>
					</div>
				</form>
			</div>
			<li><a href="status_update_set_appt.html" data-transition="slide">Set Appointment...</a></li>
			<li data-role="list-divider">Lost</li> 
			<li><a href="#" data-transition="fade">Not Interested</a></li> 
			<li><a href="#" data-transition="fade">Wrong Number</a></li>
			<li><a href="#" data-transition="fade">Disconnected</a></li>
			<li><a href="status_update_lost.html" data-transition="slide">Other</a></li>
			<li data-role="list-divider">Won</li> 
			<li><a href="task_win.html" data-transition="slide" data-transition="fade">Won</a></li> 
		</ul>
	</div>
</div>