<div data-role="page" data-theme="b">
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object)%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Update Status</h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<div data-role="fieldcontain"> 
		 	<fieldset data-role="controlgroup"> 
				<legend>Did you complete any appointments?</legend>  
				<input type="checkbox" name="checkbox-2a" id="checkbox-2a" /> 
				<label for="checkbox-2a">List Appts Here...</label> 
		    </fieldset> 
		</div> 		
		<ul data-role="listview" data-inset="true"> 
			<li data-role="list-divider">Follow-Up</li> 
			<% [['Left Message','Left Message'], ['No Answer','No Answer']].each do |text, disposition| %>
				<li>
					<%= udpate_status_link(@opportunity, text, disposition) %>
				</li> 
			<% end %>
			<li><a href="javascript:toggle('call_back_detail');" data-transition="slide">Call Back Requested...</a></li>
			<%= render :partial =>"callback_request", :locals => { :opportunity => @opportunity } %>	
			<li><a href="javascript:toggle('appointment_detail');" data-transition="slide">Set Appointment...</a></li>
			<%= render :partial =>"appointment", :locals => { :opportunity => @opportunity } %>
			<li data-role="list-divider">Lost</li> 
			<% [['Not Interested', 'Insurance Not Desired'], ['Wrong Number/Disconnected', 'Wrong Number']].each do |text, disposition_detail| %>
				<li><%= udpate_status_link(@opportunity, 'Lost', text, disposition_detail) %></li> 
			<% end %>
			<li><a href="javascript:toggle('other');" data-transition="slide">Other</a></li>
			<%= render :partial =>"lost_other", :locals => { :opportunity => @opportunity } %>
			<li data-role="list-divider">Won</li> 
			<li><%= update_opportunity_statecode_link(@opportunity, 'Won')%></li> 
		</ul>
	</div>
</div>