<div data-role="page" data-theme="b">
	<%= offline_bar%>
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object, :query => {:origin => @params['origin']})%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Update Status</h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<form>
		<% if @opportunity.incomplete_appointments.size > 0 %>
			<div data-role="fieldcontain"> 
			 	<fieldset data-role="controlgroup">
				<legend>Did you complete any appointments?</legend> 
				<% @opportunity.incomplete_appointments.each do |appointment| %>
					<input type="checkbox" name="<%= appointment.object %>" class="custom" id="<%= appointment.object %>" value="<%= appointment.object %>" />
					<label for="<%= appointment.object %>"> Appt <%= to_datetime(appointment.scheduledstart) %> </label> 
				<% end %>
				</fieldset>
				<input id="confirm_complete_button" class="UpdateStatus" type="submit" href="<%= url_for(:controller => :Activity, :action => :update_status_no_contact, :query => {:opportunity_id => @opportunity.object, :status_detail => '', :origin => @params['origin']}) %>" data-theme="b" data-direction="reverse" value="Done"/> 
			</div>
		<% end %> 
		</form>
	<div>
	<div data-role="fieldcontain">
		<label for="status_note" class="fieldLabel">Add Note:</label>
		<input maxlength="200" type="text" id="status_note" value="" onkeypress="if(event.keyCode == 13){return false;}" />
		<input type="hidden" id="status_note_opp_id" value="<%= @opportunity.object %>">
	</div>
		<ul data-role="listview" data-inset="true"> 
			<li data-role="list-divider">Follow-Up</li> 
			<% ['Left Message','No Answer'].each do |status_detail| %>
				<li>
					<%= udpate_status_no_contact_link(@opportunity, status_detail) %>
				</li> 
			<% end %>
			<li><a class="UpdateStatus" href="<%= url_for(:action => :callback_request, :id => @opportunity.object, :query =>{:test => "test", :origin => @params['origin']})%>" data-transition="slide">Call Back Requested...</a></li>	
			<li><a class="UpdateStatus" href="<%= url_for(:action => :appointment, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-transition="slide">Set Appointment...</a></li>
			<li data-role="list-divider">Lost</li> 
			<% [['Not Interested', 'Insurance Not Desired'], ['Wrong Number/Disconnected', 'Wrong Number']].each do |text, status_code| %>
				<li><%= udpate_status_lost_link(@opportunity, text, status_code) %></li> 
			<% end %>
			<li><a class="UpdateStatus" href="<%= url_for(:action => :lost_other, :id => @opportunity.object, :query =>{:origin => @params['origin']})%>" data-transition="slide">Other</a></li>
			<li data-role="list-divider">Won</li> 
			<li><%= udpate_status_won_link(@opportunity)%></li> 
		</ul>
	</div>
</div>