<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>InsiteMobile</title>
	<meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/default.css" />
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/insphere.css" />
	<link rel="stylesheet" href="/public/jquerymobile/jquery.ui.datepicker.mobile.css" /> 
	<script src="/public/jquerymobile/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jquery-mobile.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jQuery.ui.datepicker.js"></script>
	<script src="/public/jquerymobile/jquery.ui.datepicker.mobile.js"></script>
	<script src="/public/js/application.js" type="text/javascript"></script>
	<script src="/public/js/update_status.js" type="text/javascript"></script>
	<script src="/public/js/validation.js" type="text/javascript"></script>
	<script src="/public/js/statusvalidate.js" type="text/javascript"></script>

</head>

<body <% if @working %> onLoad="showSpin(null)" <% end %>>		
    <div data-role="page" data-theme="b" data-cache="never">
	<%= offline_bar%>
		<div data-role="header">
			<a href="/app/Settings/index" data-direction="reverse" data-icon="back">Settings</a>
			<h1>About</h1>
		</div>

		<div id="contentDiv" data-role="content">
			<ul data-role="listview" data-inset="true">
				<li><h3><a href="<%= url_for :action => :show_log %>">Show Log</a></h3></li>
				<li><h3><a href="<%= url_for :action => :toggle_log_level %>"><%= detailed_logging_enabled? ? 'Disable' : 'Enable' %> Detailed Logging</a></h3></li>
			</ul>
			<ul data-role="listview" data-inset="true">
				<li><h3>Version:</h3><p>InSite Mobile <% if Rho::RhoConfig.app_version && Rho::RhoConfig.app_version.length > 0 %><%= Rho::RhoConfig.app_version %><% else %>N/A<% end %></p></li> 
				<li><h3>Last Sync:</h3><p> <%= Rhom::RhomSource.find('Contact').last_updated.to_s %></p></li>
				<li><h3>Connection State:</h3><p> <%= has_connection? %></p></li> 
				<li><h3>Local Changes?:</h3><p> <%= sync_state %></p></li>
				<li><h3>Platform:</h3><p><%= System.get_property('platform') %></p></li>
				<li><h3>Device Name:</h3><p><%= System.get_property('device_name') %></p></li>
				<li><h3>Device Model:</h3><p><% if System.get_property('os_version') && System.get_property('os_version').length > 0 %><%= System.get_property('os_version') %><% else %>&nbsp;<% end %></p></li>
				<li onclick="toggle('secret');"><h3>Client ID:</h3><p><%= Rhom::Rhom::client_id %></p></li>
				<div id="secret" style="display: none">
					<li><a href="<%= url_for :action => :do_reset %>">Reset Database</a></li>
			    	<li><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></li>
		        	<li><a href="<%= url_for :action => :show_log %>">Show Log</a></li>
					<li><a href="<%= url_for :action => :configure_log %>">Configure Log</a></l>
				</div>
			</ul>
			<div>
	</div>
</body>


</html>