<div data-role="page" data-theme="b" data-cache="never">
	<%= offline_bar %>
	<div data-role="header" data-theme="b" data-backbtn="false">
		<h1>Tools <%= sync_spinner %></h1>
	</div>
	<div id="contentDiv" data-role="content" data-theme="b">
			<% if !AppInfo.instance.policy_pin %>
				<ul data-role="listview"  data-filter="false" data-inset="true" data-theme="d">
					<li data-role="list-divider">Quick Links</li>
					<li>
						<a  href="<%= url_for(:controller => :Settings, :action => :pin, :query => {:origin => @params['origin']}) %>" >Create PIN to view Links</a>
					</li>						
				</ul>
			<% elsif Settings.pin_confirmed == true && Settings.pin_is_current? %>	
						<ul data-role="listview" data-theme="d" data-inset="true" >
							<li data-role="list-divider">Quick Links</li>
							 <li><a href="<%= url_for :action => :resource_center %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon">Resource Center</a></li>
							<li><a href="<%= url_for :action => :lead_forward %>"> <img src="/public/images/logo_icon_small.png" class="ui-li-icon">LeadForward</a></li>
							<li><a href="<%= url_for :action => :lead_forward_active_orders %>"> <img src="/public/images/logo_icon_small.png" class="ui-li-icon" >LeadForwardActiveOrders</a></li>
							<li><a href="<%= url_for :action => :medicare_soa %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon">Medicare SOA</a>
							</li>
					 	</ul>				
			<% else %>
					<form name="pin_form" method="POST" action="<%= url_for(:action => :verify_pin, :query => {:origin => @params['origin']}) %>">
						<ul data-role="listview" data-theme="d"  data-filter="false" data-inset="true">
							<li data-role="list-divider">Quick Links</li>
							<li>
								<div data-role="fieldcontain">
									<label  for="PIN" class="fieldLabel">Please Enter PIN:</label>
									<input  maxlength="4" type="tel" onkeypress="this.type='password';" id="PIN" name="PIN" value=""/>
								</div>
								<fieldset class="ui-grid-a">
									<div class="ui-block-a"><input type="submit" class="standardButton"  value="Submit"/></div>	
									<div class="ui-block-b"><a type="button"  value="Reset PIN" href="<%= url_for(:controller => :Settings, :action => :pin, :query => {:origin => @params['origin']}) %>">Reset PIN</a></div>
							    </fieldset>
							</li>						
						</ul>				
					</form>
			<% end %>
		
 		<ul data-role="listview" data-theme="d" data-inset="true">
			<li data-role="list-divider" >Tools</li>
			<li>
				<a href="<%= url_for :action => :quick_quote %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon">Term Life Quick Quote</a>
			</li>
			<% if (!AppInfo.instance.quick_quote_users.blank? && (AppInfo.instance.quick_quote_users.downcase == "all" || AppInfo.instance.quick_quote_users.downcase.index(SyncEngine.get_user_name.downcase) !=  nil ))%>
				<li>
					<a href="<%= url_for :action => :quoting_tool %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon" >Quick Quote</a>
				</li>
			<% end %>
			<li>	
				<a href="tel:8887314447"><img src="/public/images/simple_black_phone.png" class="ui-li-icon">Call Support</a>
			<li>		
				<a href="mailto:InSiteMobile@insphereis.com"><img src="/public/images/email_icon.jpeg" class="ui-li-icon">Email Support</a>
			</li>
			<%
			  latest_version = AppInfo.instance.latest_version
	    	  min_required_version = AppInfo.instance.min_required_version
	    	  app_version = Rho::RhoConfig.app_version
	
			  platform = System.get_property('platform')

	    	  if platform == 'APPLE'
		        upgrade_url = AppInfo.instance.apple_upgrade_url
		      elsif platform == 'ANDROID'
		        upgrade_url = AppInfo.instance.android_upgrade_url
		      end
	
			  if needs_upgrade?(latest_version, app_version) %>
			<li>
				<img src="/public/images/logo_icon_small.png" class="ui-li-icon" style="margin-top:8px">
				<h3><a rel="external" href="<%= url_for :action => :launch_upgrade_site, :query => {:upgrade_url => upgrade_url} %>">Upgrade to v<%= AppInfo.instance.latest_version %></a></h3>
			</li>
			<% end %>
		</ul>
		<ul data-role="listview" data-theme="c" data-inset="true">
			<% if @msg %>
        		<li style="color: red; text-align: center"><%= @msg %></li>
    		<% end %>
			<li data-role="list-divider">Settings</li>
			<li>
				
				<% if SyncEngine::logged_in > 0 %>
				<a href="<%= url_for :action => :do_logout %>"> <img src="/public/images/login-key.png" class="ui-li-icon">Logout <%= SyncEngine.get_user_name %></a>
   				<% else %>
				<a href="<%= url_for :action => :login %>"><img src="/public/images/login-key.png" class="ui-li-icon">Login</a>
				<% end %>
			</li>
			<li>			
			   <a href="<%= url_for :action => :pin %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon">Reset PIN</a>
			</li>
			<li>				
				<a href="<%= url_for :action => :about %>"><img src="/public/images/logo_icon_small.png" class="ui-li-icon"> About</a>
			</li>
  		</ul>
	</div>
</div>