<div data-role="page" data-theme="b" id="pin_reset_page">
	<%= offline_bar %>
    <div data-role="header" data-backbtn="false" data-theme="b">
		<div style="text-align:center">
        	<h1><img src="/public/images/logo.png" alt="Login" /></h1>
		</div>
    </div>

    <div data-role="content" data-theme="b">
		<div style="text-align:center" class="ui-bar"> 
			<h1>Login: <%= Settings.login %><h1>
		</div>
		<hr/>
	 <form id="reset_pin_form" method="POST" action="<%= url_for :action => :validate_pin, :query => {:origin => @params['origin'], :contact => @params['contact'], :opportunity => @params['opportunity'], :activity => @params['activity'] } %>">
	   <% if @msg %>
		 <p style="color: red"><%= @msg %></p>
	   <% end %>
  
		<div data-role="fieldcontain">
      		<label for="enter_pin">Enter PIN <small>(Should consist of 4 numbers)</small></label>
     		<input maxlength="4" type="tel" onkeypress="this.type='password';" pattern="[0-9]*" name="enter_pin" data-theme="d" id="enter_pin" />
		</div>
		<div data-role="fieldcontain">
			 <label for="verify_pin">Verify PIN</label>
             <input maxlength="4" type="tel" onkeypress="this.type='password';" pattern="[0-9]*" name="verify_pin" data-theme="d" id="verify_pin" />
		</div>
    		<div data-role="fieldcontain">
			<label for="pin_password">Password</label>
             <input type="password" name="pin_password" data-theme="d" id="pin_password" />
		</div>
		<fieldset class="ui-grid-a">
			<div class="ui-block-a"><input type="submit" data-theme="b" class="standardButton" value="Reset"/></div>
			<% if !(@params['contact'].blank?) %>	
			    <div class="ui-block-b"><a type="button" data-theme="c" value="Cancel" href="<%= url_for(:controller => :Contact, :action => :show, :id => @params['contact'], :query => {:origin => @params['origin'], :opportunity => @params['opportunity']}) %>">Cancel</a></div>
				
			<% elsif !(@params['activity'].blank?) %>	
				<div class="ui-block-b"><a type="button" data-theme="c" value="Cancel" href="<%= url_for(:controller => :Activity, :action => :show, :id => @params['activity'], :query => {:origin => @params['origin'], :activity => @params['activity']}) %>">Cancel</a></div>
			<% else %>
				<div class="ui-block-b"><a type="button" data-theme="c" value="Cancel" href="<%= url_for(:action => :index, :query => {:origin => @params['origin']}) %>">Cancel</a></div>
			<% end %>
	    </fieldset>
	 </form>
	</div>
</div>

