<script type="text/javascript" >
	$(document).ready(function() {
		$.ajaxSetup ({  
			cache: false  
		});
	
		$('#search_phone').autoFormatPhone();
	});
</script>
<div data-role="page" data-theme="b" data-url="" class="ui-page ui-body-b ui-page-active"> 
	<%= offline_bar %>
	<div data-role="header" data-backbtn="false" class="ui-bar-b ui-header" role="banner"> 
				<a href="<%=url_for( :controller => :Contact, :action=>:index)%>" data-direction="reverse" rel="external" data-theme="b" data-icon="back" >Back</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Activity Center </h1>
	</div>
	<div id="contentDiv" data-role="content" data-theme="b">
		<form name="contact_filter_form" id="contact_filter_form">	
			<div data-role="fieldcontain">
			  <label for="search_fullname" class="fieldLabel ui-input-text"> &nbsp;&nbsp;&nbsp;&nbsp;Name: </label>
			  <input type="text" id="search_fullname" name="search_fullname" maxlength="30" ="<%= @last_search.nil? ? "" : @last_search.search_terms['full_name'].to_s %>" ></input>
			</div>
			<div data-role="fieldcontain">
			  <label for="search_email" class="fieldLabel ui-input-text"> &nbsp;&nbsp;&nbsp;&nbsp;Email Address: </label>
			  <input type="text" id="search_email" name="search_email" maxlength="30"  value="<%= @last_search.nil? ? "" : @last_search.search_terms['email'].to_s %>"></input>
			</div>
			<div data-role="fieldcontain">
			  <label for="search_phone" class="fieldLabel ui-input-text"> &nbsp;&nbsp;&nbsp;&nbsp;Phone Number: </label>
			  <input type="number"  id="search_phone" name="search_phone" maxlength="14"  value="<%= @last_search.nil? ? "" : @last_search.search_terms['phone'].to_s %>" ></input>
			</div>
			<fieldset class="ui-grid-a">
						<div class="ui-block-a"><button type="submit" id="submit-ac-search" data-theme="b">Search AC</button></div>
						<div class="ui-block-b"><button type="submit" href="<%=url_for(:action => :search)%>" data-theme="b">Clear</button></div>
			    </fieldset>
		
			<% if @params['msg'] %>
				 <div style="color:red;"><%= @params['msg'] %> </div>
			<% end %>
		</form>	  
	</div>
			<!-- <a href="#" onclick="showACSpin();"> HIDE SPIN </a>	 -->
	<div class="ui-content search-results-list" data-role="none" role="main">
		<% if @last_search %>
			<ul id="search-results-list" data-role="listview" data-counttheme="e" class="ui-listview" role="listbox">
				<% if @last_search.search_results.size == 0%>
					<li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Contacts Found </li>
				<% else %>
					<% @last_search.search_results.each do |result| %>
							<%=  display_search_ac_contact(result, @contacts_already_on_device, @last_search.search_terms['email'], @last_search.search_terms['phone']) %>
					<% end %>
					<% if @last_search.search_results.size == 50 %>
					<li style="display:block; margin-left:auto; margin-right:auto; text-align: center;"> More than 50 results were found.  Please specify additional search parameters to narrow the results. </li>
					<% end %>
				<% end %>
			</ul>
		<% end %>
		
		<div class="ACSpinner">
			<img id="acSyncSpinner" style="display: none; height:20px; width:20px;" src="/public/images/spinner.gif" />
		</div>
	</div>
</div>
